mixin header()
  +b.header&attributes(attributes)
    .container
      +e.A(href='/').logo
        img(src='assets/images/vs_logo.svg')
      +e.FORM.search
        +e.BUTTON.search-button
          img(src='assets/images/search.png')
        +e.INPUT(placeholder='Название сауны, тип парной или адрес  г. Москва').search-input
      +e.A(href='#').discounts Акции и скидки
      +e.select Москва
        +icon('arrow_down').select-arrow
    block
    

mixin header-line(img)
  +e.line&attributes(attributes)
    +e.IMG(src='assets/images/' + img).linebg

mixin header-line-menu(firstlink, secondlink)
  +e.line&attributes(attributes)
    +e.menu
      if firstlink
        +e.A(href='#').menu-link= firstlink
      if secondlink
        +e.A(href='#').menu-link
          +icon('plus').menu-icon
          = secondlink
