mixin header()
  +b.header&attributes(attributes)
    .container
      +e.A(href='/').logo
        img(src='assets/images/vs_logo.svg')
      +e.FORM.search
        +e.BUTTON.search-button
          img(src='assets/images/search.png')
        +e.INPUT(placeholder='Название сауны, тип парной или адрес  г. Москва').search-input
      +e.A(href='#').discounts Акции и скидки
      +e.select Москва
        +icon('arrow_down').select-arrow
    +e.line
      +e.menu
        +e.A(href='#').menu-link карта сайта
        +e.A(href='#').menu-link
          +icon('plus').menu-icon
          | Добавить заведение