mixin random()
  +b.random&attributes(attributes)
    .container
      +e.H2.heading Случайный выбор
        +e.A(href='#').refresh
          img(src='assets/images/refresh.png')
          span обновить
    +e.content
      .container
        +e.cards
          +slidecard('place1.jpg', 'САУНА ПРИ ОТЕЛЕ', 'Избушка у реки', ["В РФ собственники квартир смогут сэкономить на налога", 'Сэкономить на налоге смогут собственники квартир: новый законопроект рассмотрят в Госдуме']).random__card
          +slidecard('place2.jpg', 'САУНА ПРИ ОТЕЛЕ', 'Избушка у реки', ["В РФ собственники квартир смогут сэкономить на налога", 'Сэкономить на налоге смогут собственники квартир: новый законопроект рассмотрят в Госдуме']).random__card
          +slidecard('place3.jpg', 'САУНА ПРИ ОТЕЛЕ', 'Избушка у реки', ["В РФ собственники квартир смогут сэкономить на налога", 'Сэкономить на налоге смогут собственники квартир: новый законопроект рассмотрят в Госдуме']).random__card