extends ../../layouts/default

block head
  - var pageTitle = 'Sitemap'

block content
  +b.sitemap-page
    +header()
    +topline-menu('карта сайта', 'sitemap.html', 'Добавить заведение', false, 'Личный кабинет').__topline
    +filter()
    +sitemap()
    +footer()
    +popups()
