extends ../../layouts/default

block head
  - var pageTitle = 'Sitemap'

block content
  +b.sitemap-page
    +header()
      +header-line-menu('карта сайта', 'sitemap.html', 'Добавить заведение', false, 'Личный кабинет')
    +filter()
    +sitemap()
    +e.spacer
    +footer()
    +popups()
