.headblock {
  $b: &;
  display: block;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
  padding: 62px 0 56px;
  
  @include screen('tablet-wide') {
    border-bottom: 0;
    padding: 49px 0 38px;
  }
  
  @include screen('phablet') {
    padding: 25px 0 19px;
  }
  
  &__side-img {
    position: absolute;
    max-width: 117px;
    
    @include screen('tablet-wide') {
      display: none;
    }
    
    &_left {
      top: 19px;
      left: 26px;
    }
    
    &_right {
      top: 0;
      right: 0;
    }
  }
  
  .container {    
    @include screen('tablet-wide') {
      padding: 0 30px;
    }
    
    @include screen('phablet') {
      padding: 0 20px;
    }
  }
  
  &__heading {
    font-size: 60px;
    font-weight: 500;
    
    @include screen('phablet') {
      font-size: 30px;
    }
    
    & + #{$b}__subheading {
      margin-top: 4px;
      
      @include screen('tablet-wide') {
        margin-top: 11px;
      }
      
      @include screen('phablet') {
        margin-top: 6px;
      }
    }
  }
  
  &__subheading {
    font-style: italic;
    font-size: 28px;
    line-height: (36/28);
    
    @include screen('tablet-wide') {
      font-size: 32px;
    }
    
    @include screen('phablet') {
      font-size: 16px;
    }
  }
  
  &__text {
    text-align: left;
    color: #202020;
    font-family: $font-second;
    font-size: 15px;
    line-height: (24.77/15);
    max-width: 980px;
    margin: 21px auto 0;
  }
  
  &__other {
    opacity: 0.8;
    color: #484848;
    font-style: italic;
    font-size: 18px;
    font-weight: 300;
    line-height: (25.92/18);
    margin-top: 9px;
    
    @include screen('tablet-wide') {
      display: none;
    }
    
    &-link {
      color: inherit;
      margin-left: 10px;
      
      &:hover {
        color: #fd0101;
        opacity: 1;
      }
    }
  }
  
  &_main {
    @include screen('tablet-wide', min) {
      padding: 36px 0 23px;
    }
    
    .container {
      @include screen('tablet-wide', min) {
        padding: 0 160px;
      }
    }
  }
}