.lastview {
  display: block;
  padding: 66px 0 29px;
  background-color: #f8f8f8;
  
  @include screen('tablet-wide') {
    display: none;
  }
  
  .container {
    overflow: hidden;
    width: 1440px;
    padding: 0;
  }
  
  &__heading {
    color: #1f1f1f;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: .04em;
    padding: 0 50px;
  }
  
  &__cards-container {
    margin-top: 11px;
  }
  
  .swiper-slide {
    width: 267px;
    margin: 0 13px;
  }
}