mixin lastview()
  +b.lastview&attributes(attributes)
    .container
      +e.H3.heading Последние просмотренные
      +scrollslider().__cards-container
        +slide()
          +imgcard()
        +slide()
          +imgcard()
        +slide()
          +imgcard()
        +slide()
          +imgcard()
        +slide()
          +imgcard()
