$breadpadding: 17px;

.breadcrumbs {
  display: block;
  padding: 11px 0;
  
  @include screen('tablet-wide') {
    display: none;
  }

  &__item {
    display: inline-block;
    position: relative;

    &:not(:last-child) {
      padding-right: $breadpadding;

      &::after {
        content: '>';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: $breadpadding/2;
        font-size: 20px;
        line-height: 20px;
        height: 20px;
        transform: translateX(50%);
      }
    }

    &:last-child .link {
      pointer-events: none;
    }
  }
}
