$breadpadding: 17px;

.breadcrumbs {
  display: block;

  &__item {
    display: inline-block;
    position: relative;

    &:not(:last-child) {
      padding-right: $breadpadding;

      &::after {
        content: '>';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: $breadpadding/2;
        font-size: 20px;
        line-height: 20px;
        height: 20px;
        //border-width: 1px 1px 0 0;
        //border-style: solid;
        //border-color: $color-basic;
        //transform-origin: center;
        transform: translateX(50%);
      }
    }

    &:last-child .link {
      pointer-events: none;
    }
  }
}
