.imgline {
  display: block;
  margin-top: 64px;
  margin-bottom: 18px;
  height: 40px;
  overflow: hidden;
  position: relative;
  
  @include screen('tablet-wide') {
    display: none;
  }
  
  img {
    @include center-block;
    min-height: 100%;
    min-width: 100%;
  }
}