.imgline {
  display: block;
  margin-top: 64px;
  margin-bottom: 18px;
  height: 40px;
  overflow: hidden;
  position: relative;
  
  @include screen('tablet-wide') {
    display: none;
  }
  
  img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-22%);
  }
}