extends ../../layouts/default

block head
  - var pageTitle = 'Main'

block content
  +b.index
    +header()
    +put-block-into-slot('indexHeadblock', 'xl')
      +headblock()
    +filter()
    +tags()
    +put-block-into-slot('indexHeadblock', 'md')
    +places()
    +types()
    +random()
