extends ../../layouts/default

block head
  - var pageTitle = 'Main'

block content
  +b.index
    +header()
      +header-line-menu()
    +put-block-into-slot('indexHeadblock', 'xl')
      +headblock-main()._main
    +filter()
    +tags()
    +mapblock('Показать заведения рядом').index__mapblock
    +put-block-into-slot('indexHeadblock', 'md')
    +places()
    +types()
    +random()
    +offers()
    +imgline()
    +places-new()
    +desc()
    +e.banner
    +reviews()
    +blog()
    +lastview()
    +footer()
