extends ../../layouts/default

block head
  - var pageTitle = 'Main'

block content
  +b.index
    +header()
    +topline-menu('карта сайта', 'sitemap.html', 'Добавить заведение').__topline
    +put-block-into-slot('headblock', 'xl')
      +headblock-main()._main
    +filter()
    +tags()
    +put-block-into-slot('mapblock', 'md')
    +put-block-into-slot('headblock', 'md')
    +places()
    +types()
    +random()
    +offers()
    //+imgline()
    +put-block-into-slot('mapblock', 'xl')
      +mapblock(true, true)._getloc.__mapblock
    +places-new()
    +desc()
    +e.banner
    +reviews()
    +blog()
    +lastview()
    +footer()
    +popups()
