extends ../../layouts/default

block head
  - var pageTitle = 'Comments'

block content
  +b.comments
    +header()._wide
      +header-line-menu(false, 'Добавить заведение')
    +e.head
      .container.container_wide
        +breadcrumbs(['Москва', 'ЮЗАО', 'район Северное Бутово', 'Варшавское шоссе', 'Баня и сауна GreenRoof']).__breadcrumbs
        +e.H1.heading Отзывы о Баня и сауна GreenRoof
        +e.A(href='#').back-button
          +icon('arrow')
          span Вернуться назад
    +e.content
      .container.container_wide
        +e.cols
          +e.col._left
            +card-reviewform(true).__card
            +card-reviews().__card
          +e.col._right
            +card-rating().__card._rating
            +e.innercols
              +e.innercol._left
                +card-contacts().__card._inner
              +e.innercol._right
                +card-address().__card._inner
            +e.banner
    +lastview()
    +footer()
