.comments {
  display: block;
  
  &__head {
    padding: 14px 0 25px;
    
    @include screen('tablet-wide') {
      padding: 25px 0;
    }
  }
  
  &__heading {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: .043em;
    
    @include screen('tablet-wide') {
      color: #161616;
      font-size: 38px;
      font-weight: 500;
      letter-spacing: .045em;
    }
    
    @include screen('tablet-small') {
      font-size: 28px;
    }
  }
  
  &__back-button {
    background-color: #dadfe0;
    display: inline-flex;
    align-items: center;
    color: #484848;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .04em;
    margin-top: 10px;
    padding: 18px 43px;    
    
    @include screen('tablet-wide') {
      font-size: 25px;
      padding: 20px 40px;
      margin-top: 20px;
    }
    
    @include screen('tablet-small') {
      font-size: 15px;
      padding: 15px 40px;
      margin-top: 10px;
    }
    
    > * {
      display: inline-block;
    }
    
    svg {
      width: 5px;
      height: 10px;
      fill: none;
      stroke: rgba(#000, .2);
      margin-right: 16px;
      
      @include screen('tablet-wide') {
        width: 10px;
        height: 20px;
      }
      
      @include screen('tablet-small') {
        width: 5px;
        height: 10px;
      }
    }
  }
  
  &__content {
    background-color: #f8f8f8;
    padding: 36px 0;
    
    @include screen('tablet-wide') {
      background-color: transparent;
    }
    
    @include screen('tablet-small') {
      padding: 20px 0;
    }
  }
  
  &__cols {
    display: flex;
    justify-content: space-between;
    
    @include screen('tablet-wide') {
      flex-wrap: wrap;
    }
  }
  
  &__col {
    
    &_left {
      width: calc(100% - 590px);
      
      @include screen('tablet-wide') {
        width: 100%;
      }
    }
    
    &_right {
      width: 565px;
      padding-top: 11px;
      
      @include screen('tablet-wide') {
        width: 100%;
      }
    }
  }
  
  &__card {
    
    & + & {
      margin-top: 20px;
    }
    
    &_inner {
      flex: 1;
      display: flex;
      flex-direction: column;
      
      .flex-gr {
        flex: 1;
      }
    }
    
    &_rating {
      @include screen('tablet-wide') {
        display: none;
      }
    }
  }
  
  &__innercols {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
    @include screen('tablet-wide') {
      flex-wrap: wrap;
    }
  }
  
  &__innercol {
    width: calc((100% - 17px)/2);
    display: flex;
    
    @include screen('tablet-wide') {
      width: 100%;
    }
    
    &_right {
      @include screen('tablet-wide') {
        margin-top: 30px;
      }
    }
  }
  
  &__banner {
    margin-top: 28px;
    height: 300px;
    background-color: #c6c6c6;
    
    @include screen('tablet-wide') {
      display: none;
    }
  }
  
  &__breadcrumbs {
    @include screen('tablet-wide') {
      display: none;
    }
  }
  
  .header {
    
    &__discounts {
      @include screen('tablet-wide') {
        display: none;
      }
    }
  }
}