@import '../../node_modules/leaflet/dist/leaflet.css';
@import '../../node_modules/leaflet.markercluster/dist/MarkerCluster.css';
@import '../../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css';

.map {
  display: block;
  height: 400px;
  position: relative;
  z-index: 1;
}

.leaflet-control-layers-toggle {
  background-image: url('../images/map/layers.png');
  width: 36px;
  height: 36px;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url('../images/map/layers-2x.png');
  background-size: 26px 26px;
}

.leaflet-default-icon-path {
  background-image: url('../images/map/marker-icon.png');
}

.leaflet-touch .leaflet-bar, .leaflet-touch .leaflet-control-layers {
  border: none;
  box-shadow: 0 2px 4px rgba($color-basic, .2);
}

.leaflet-bar a {
  border-bottom: 1px solid $color-border;
  transition: background-color $ease-main, color $ease-main;
  color: $color-basic;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: $color-main;
    color: white;
  }
}

.leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.leaflet-popup-content {
  margin: 0;
  min-width: 426px;
  max-width: 426px;
  
  @include screen('tablet-small') {
    min-width: 0;
    max-width: 280px;
  }
  
  p {
    margin: 0;
  }
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-container .leaflet-control-attribution { display: none; }

.leaflet-container a.leaflet-popup-close-button {
  color: transparent;
  background: url(../images/map_popup_close.svg);
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  width: 14px;
  height: 14px;
  padding: 9px 7px 0 0;
  
  &:hover {
    color: transparent;
  }
}

.map-cluster-outer {
  width: 77px;
  height: 77px;
  border-radius: 1000px;
  box-sizing: border-box;
  padding: 9px;
  background-color: rgba($color-blue, .5);
}

.map-cluster-inner {
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  background-color: $color-blue;
}

.map-cluster-count {
  color: #ffffff;
  font-family: $font-main;
  font-size: 23px;
  font-weight: 300;
  text-align: center;
  line-height: 59px;
}

.map-popup {
  position: relative;
  padding-left: 179px;
  font-family: $font-main;
  
  @include screen('tablet-small') {
    padding-left: 0;
  }
  
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 179px;
    height: 100%;
    overflow: hidden;
    
    @include screen('tablet-small') {
      display: none;
    }
    
    img {
      @include fill-img;
    }
  }
  
  &__content {
    padding: 16px 24px 25px;
    
    @include screen('tablet-small') {
      padding: 16px 25px 16px 16px;
    }
  }
  
  &__link {
    color: $color-blue;
    font-size: 20px;
    font-weight: 500;
    line-height: (30/20);
    
    @include screen('tablet-small') {
      font-size: 16px;
    }
    
    a {
      color: inherit;
      border-bottom: 1px solid rgba($color-blue, .3);
    }
  }
  
  &__price {
    color: #161616;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -.03em;
    margin-top: 14px !important;
    
    @include screen('tablet-small') {
      font-size: 18px;
      margin-top: 10px !important;
    }
  }
  
  &__rating {
    display: flex;
    align-items: center;
    margin-top: 18px;
    
    @include screen('tablet-small') {
      margin-top: 10px;
    }
  }
  
  .rating {
    margin-right: 6px;
  }
  
  .rating__icon {
    width: 16px;
    height: 16px;
  }
  
  .rating__box {
    margin-right: 3px;
  }
  
  &__reviews {
    opacity: 0.5;
    color: #000000;
    font-family: $font-second;
    font-size: 14px;
    letter-spacing: .02em;
  }
}
