mixin filter()
  +b.filter&attributes(attributes)
    +e.IMG(src='assets/images/bg1.svg').bg
    .container
      +e.P.heading Фильтр поиска:
      +e.list
        +e.list-item
          +e.list-icon
            img(src='assets/images/filter1.png')
          +e.P.list-text
            a(href='#') Тип отдыха
          +e.P.list-text._mobile Тип отдыха
          +e.P.list-select Любой
            +icon('arrow_down').list-select-icon
        +e.list-item
          +e.list-icon._cover
            img(src='assets/images/filter2.jpg')
          +e.P.list-text
            a(href='#locationpopup').js-fancybox Расположение: карта, метро, районы
          +e.P.list-text._mobile Расположение
          +e.P.list-select Любое
            +icon('arrow_down').list-select-icon
        +e.list-item
          +e.list-icon
            img(src='assets/images/filter3.jpg')
          +e.P.list-text
            a(href='#categoriespopup').js-fancybox Стоимость, тип парной и другое
          +e.P.list-text._mobile Дополнительно
          +e.P.list-select Ничего не выбрано
            +icon('arrow_down').list-select-icon
      block


mixin filter-tags(switcher)
  +e.tags&attributes(attributes)
    +e.A(href='#').tag
      +e.SPAN.tag-symbol ₽
      | 1000-2500 час
      +e.SPAN.tag-close
    +e.A(href='#').tag
      +e.SPAN.tag-icon
      | метро Чертановская
      +e.SPAN.tag-close
    +e.A(href='#').tag._blue
      | финская парная
      +e.SPAN.tag-close
    +e.A(href='#').tag._grey
      | сбросить все
    if switcher
      +e.views
        +e.A(href='#').view
          +icon('view1')
        +e.A(href='#').view
          +icon('view2')
