extends ../../layouts/default

block head
  - var pageTitle = 'Guide'

block content
  +b.site
    .container
      +e.list
        +link(href="index.html") Главная (index.html)
        +link(href="listing.html") Бани и сауны (listing.html)
        +link(href="sales.html") Акции (sales.html)
        +link(href="feedback.html") Отзывы (feedback.html)
        +link(href="results.html") Результаты поиска (results.html)
        +link(href="comments.html") Сауна с отзывами (comments.html)
        +link(href="maplist.html") Результаты на карте (maplist.html)
        +link(href="sitemap.html") Карта сайта (sitemap.html)
        +link(href="sauna.html") Сауна (sauna.html)
        +link(href="sauna_mult.html") Сауна с залами (sauna_mult.html)
