mixin places()
  +b.places&attributes(attributes)
    .container
      +e.H2.heading Какие-то заведения
    +e.tabs
      .container
        +tabs()
          +tab()(data-tab-target="tab1") Любые
          +tab()(data-tab-target="tab2").active Сауны
          +tab()(data-tab-target="tab3") Частные бани
          +tab()(data-tab-target="tab4") Общественные бани
          +tab()(data-tab-target="tab5") Спа-центы
        +tabs-content
          - for (var i = 1; i <= 5; i++)
            +tab-wrapper()(data-tab="tab"+i data-tab-group="places" class= (i === 2) ? "active" : "")
              +e.cards
                +infocard('place1.jpg', true, true, 'САУНА ПРИ ОТЕЛЕ', 'Чикаго Голд', false, true).places__card
                +infocard('place2.jpg', false, true, 'КОТЕДЖ', 'Избушка у реки', '7 отдельных котеджей', true).places__card
                +infocard('place3.jpg', true, false, 'САУНА', 'Заречье', false, true).places__card
                +infocard('place4.jpg', false, true, 'ОБЩЕСТВЕННАЯ БАНЯ', 'Краснопресненские бани', '7 отдельных залов', true).places__card
        +e.mobile
          +e.cards
            +infocard('place1.jpg', true, true, 'САУНА ПРИ ОТЕЛЕ', 'Чикаго Голд', false, true).places__card
            +infocard('place2.jpg', false, true, 'КОТЕДЖ', 'Избушка у реки', '7 отдельных котеджей', true).places__card
            +infocard('place3.jpg', true, false, 'САУНА', 'Заречье', false, true).places__card
            +infocard('place4.jpg', false, true, 'ОБЩЕСТВЕННАЯ БАНЯ', 'Краснопресненские бани', '7 отдельных залов', true).places__card
              
mixin places-new()
  +b.places._new&attributes(attributes)
    .container
      +e.H2.heading Новые заведения в нашем каталоге
      +e.cards
        +infocard('place1.jpg', true, true, 'САУНА ПРИ ОТЕЛЕ', 'Чикаго Голд', false, true).places__card
        +infocard('place2.jpg', false, true, 'КОТЕДЖ', 'Избушка у реки', '7 отдельных котеджей', true).places__card
        +infocard('place3.jpg', true, false, 'САУНА', 'Заречье', false, true).places__card
        +infocard('place4.jpg', false, true, 'ОБЩЕСТВЕННАЯ БАНЯ', 'Краснопресненские бани', '7 отдельных залов', true).places__card
