mixin typecard(img, name)
  +b.typecard&attributes(attributes)
    +e.block
      +e.content(itemscope itemtype='http://schema.org/Offer')
        +e.img
          img(src='assets/images/'+img)
        +e.P.name(itemprop='name')= name
        +e.P.desc(itemprop='description') 246 заведений
