mixin typecard(img, name)
  +b.typecard&attributes(attributes)
    +e.block
      +e.content
        +e.img
          img(src='assets/images/'+img)
        +e.P.name= name
        +e.P.desc 246 заведений
