mixin popups()
  +b.popups&attributes(attributes)
    block

mixin popup()
  +b.popup&attributes(attributes)
    block

mixin popup-list(heading, name, texts, iconColors)
  +e.list&attributes(attributes)
    +e.P.list-heading= heading
    +e.UL.list-items
      - for (var i = 0; i < texts.length; i++)
        +popup-label(name, 'type' + i, texts[i], iconColors ? iconColors[i] : 'yellow')

mixin popup-label(name, value, text, iconColor)
  +e.LI.list-item
    +e.LABEL.label
      input(type='checkbox', name=name, value=value)
      +e.SPAN.label-icon(class='_' + (iconColor ? iconColor : 'yellow'))
      +e.SPAN.label-text= text
      
mixin popup-countlabel(value, text)
  +e.LABEL.count-item
    input(type='radio', name='count', value=value)
    +e.SPAN.count-radio
    +e.SPAN.count-text= text

// popup-sales

mixin popup-sales()
  +b.FORM.popup._sales#salespopup&attributes(attributes)
    +e.container
      +e.A(href='#').close
        +e.SPAN.close-text Закрыть
        +e.SPAN.close-icon
      +e.P.heading Выберите подходящую акцию
      +e.UL.sales
        +label-sale('sale1', 'Любая')
        +label-sale('sale2', 'Час в подарок')
        +label-sale('sale3', 'День рождения')
        +label-sale('sale4', 'Подарок от заведения')
        +label-sale('sale5', 'Скидка на СПА (SPA)')
        +label-sale('sale6', 'Мальчишник')
        +label-sale('sale7', 'Девичник')
        +label-sale('sale8', 'Подарок от заведения')
        +label-sale('sale9', 'Подарок от заведения')
      +e.BUTTON.button Показать 251 сауну
      
mixin label-sale(value, text)
  +e.LI.sales-item
    +e.LABEL.sale
      input(type='checkbox' name='sale' value=value)
      +e.SPAN.sale-icon
        +icon('diamond')
      +e.P.sale-text= text
        +e.SPAN.sale-check
          +icon('check')

// popup-categories

mixin popup-categories()
  +b.FORM.popup._categories#categoriespopup&attributes(attributes)
    +e.container
      +e.A(href='#').close
        +e.SPAN.close-text Закрыть
        +e.SPAN.close-icon
      +e.P.heading._small Поиск по категориям
        +e.BUTTON(type='reset').reset очистить форму
      +e.cols
        +e.col
          +popup-list(6, 'Вид парной', 'category1', ['Финская парная', 'Турецкий хамам', 'Баня на дровах', 'Инфракрасная сауна', 'Русская баня', 'Японская баня Офуро'])
        +e.col
          +popup-category(6, 'Кухня', 'category2', ['Ресторан', 'Мангал', 'Алкоголь', 'Разливное пиво', 'Япоские суши', 'Можно со своими продуктами'])
        +e.col
          +popup-category(6, 'Услуги', 'category3', ['Веники', 'Банщик', 'СПА терапия', 'Спортивный массаж', 'Эротический массаж', 'Кальян'])
        +e.col
          +popup-category(8, 'Сервис', 'category4', ['Караоке', 'Бильярд', 'Джакузи', 'Бассейн', 'Купель', 'Комната отдыха', 'Спуниковое ТВ', 'Парковка'])
        +e.col
          +popup-category(7, 'Стоимость', 'category5', ['Любая', 'до 700 ₽/час', '700-1000 ₽/час', '1000-1500 ₽/час', '1500-2000 ₽/час', '2000-3000 ₽/час', 'от 3000 ₽/час'])._blue
      +e.count
        +e.P.count-heading Вместимость сауны
        +label-count('count1', 'двое')
        +label-count('count2', 'до 10')
        +label-count('count3', '10-20')
        +label-count('count4', 'от 20 человек')
        +e.count-groups
          +e.count-group
            +icon('person').__count-icon._active
            +icon('person').__count-icon._active
            +icon('person').__count-icon
            +icon('person').__count-icon
            +icon('person').__count-icon
          +e.count-group
            +icon('person').__count-icon
            +icon('person').__count-icon
            +icon('person').__count-icon
            +icon('person').__count-icon
            +icon('person').__count-icon
          +e.count-group
            +icon('person').__count-icon
            +icon('person').__count-icon
            +icon('person').__count-icon
            +icon('person').__count-icon
            +icon('person').__count-icon
          +e.count-group
            +icon('person').__count-icon
            +icon('person').__count-icon
            +icon('person').__count-icon
            +icon('person').__count-icon
            +icon('person').__count-icon
        +label-count('count5', 'любая')
      +e.bottom
        +e.bottom-left
          +e.P.filter Финская парная
            +e.A(href='#').filter-close
          +e.P.filter Ароматерапия
            +e.A(href='#').filter-close
          +e.P.filter Оздоровительный массаж
            +e.A(href='#').filter-close
          +e.P.filter Оздоровительный массаж
            +e.A(href='#').filter-close
          +e.P.filter Охраняемая парковка
            +e.A(href='#').filter-close
          +e.A(href='#').filter._res Сбросить фильтры
        +e.bottom-right
          +e.BUTTON.button._blue Показать 251 сауну
          +e.P.error Ничего не найдено. Попробуйте использовать другие параметры

// popup-location

mixin popup-location()
  +b.FORM.popup._location#locationpopup&attributes(attributes)
    +e.container
      +e.A(href='#').close
        +e.SPAN.close-text Закрыть
        +e.SPAN.close-icon
      +e.P.heading._medium Расположение:
        +e.tab-links
          +e.A(href='#' data-tab-target='location1').tab-link.active на карте
          +e.A(href='#' data-tab-target='location2').tab-link по метро
          +e.A(href='#' data-tab-target='location3').tab-link по районам
      +e.tab(data-tab='location1' data-tab-group='locations')
        +e.map-top
          +e.A(href='#').map-link Любое расположение
          +e.P.address Адрес: Москва, ул. Арбат 1
          +e.controls
            +e.A(href='#').control -
            +e.SPAN.controls-text 22 км
            +e.A(href='#').control +
        +e.map
        +e.map-bottom
          +e.LABEL.checkbox
            input(type='checkbox')
            +e.SPAN.checkbox-box
              +icon('check')
            +e.SPAN.checkbox-text Показать все сауны на карте
          +e.P.map-hint Выберите  точку на карте, либо введите адрес или метро
      +e.tab(data-tab='location2' data-tab-group='locations').active
        +e.metro-top
          +e.P.metro-hint Выберите  станции метро
        +e.metro
          +e.cols._scrollable
            +e.col
              +popup-list('А', 'metro', ['Авиамоторная', 'Автозаводская', 'Академическая', 'Александровский Сад', 'Алексеевская', 'Алма-Атинская', 'Алтуфьево', 'Аннино', 'Арбатская', 'Аэропорт'], ['green', 'yellow', 'darkred'])
              +popup-list('Б', 'metro', ['Бабушкинская', 'Багратионовская', 'Баррикадная', 'Бауманская', 'Беговая'], ['grey', 'yellow'])
            +e.col
              +popup-list('Б', 'metro', ['Бабушкинская', 'Багратионовская', 'Баррикадная', 'Бауманская', 'Беговая'])
              +popup-list('В', 'metro', ['Вагнеровская', 'Варшавская', 'ВДНХ (станция)', 'Владыкино', 'Водный стадион', 'Волгоградский проспект', 'Волжская', 'Волоколамская', 'Воробьёвы горы', 'Выставочная'])
            +e.col
              +popup-list('Г', 'metro', ['Город Мастеров', 'Гуляй-поле'])
              +popup-list('Д', 'metro', ['Дарвиновская', 'Деловой центр', 'Дзержинская', 'Динамо (Москва)', 'Дмитровская', 'Добрынинская', 'Домодедовская', 'Донская', 'Достоевская', 'Дубровка', 'Выхино'])
              +popup-list('Ж', 'metro', ['Жулебино'])
            +e.col
              +popup-list('И', 'metro', ['Измайловская'])
              +popup-list('З', 'metro', ['Знамя Революции', 'Зябликово'])
              +popup-list('К', 'metro', ['Калужская', 'Кантемировская', 'Каховская', 'Каширская', 'Киевская (Арбатско-Покровская линия)', 'Киевская (Кольцевая линия)', 'Киевская (Филёвская линия)', 'Кировская (Москва)', 'Китай-город', 'Кожуховская'])
            +e.col
              +popup-list('К', 'metro', ['Красногвардейская', 'Краснопресненская', 'Красносельская', 'Красные ворота', 'Крестьянская Застава', 'Кропоткинская', 'Крылатское', 'Кузнецкий Мост (станция)', 'Кузьминки', 'Кунцевская', 'Курская (Арбатско-Покровская линия)', 'Курская (Кольцевая линия)', 'Кутузовская'])
            +e.col
              +popup-list('И', 'metro', ['Красногвардейская', 'Краснопресненская', 'Красносельская', 'Красные ворота', 'Крестьянская Застава', 'Кропоткинская', 'Крылатское', 'Кузнецкий Мост (станция)', 'Кузьминки', 'Кунцевская', 'Курская (Арбатско-Покровская линия)', 'Курская (Кольцевая линия)', 'Кутузовская'])
        +e.metro-bottom
          +e.P.filter._metro._metro-grey Авиамоторная
            +e.A(href='#').filter-close
          +e.P.filter._metro._metro-green Автозаводская
            +e.A(href='#').filter-close
          +e.P.filter._metro._metro-darkred Алтуфьево
            +e.A(href='#').filter-close
          +e.P.filter._darkgrey Сбросить все
            +e.A(href='#').filter-close
      +e.tab(data-tab='location3' data-tab-group='locations')
        +e.districts
          +e.cols
            +e.col
            +e.col
            +e.col
            +e.col
            +e.col
            +e.col
            +e.col
        +e.district-bottom
          +e.P.filter
            +e.A(href='#').filter-close
          +e.P.filter
            +e.A(href='#').filter-close
          +e.P.filter
            +e.A(href='#').filter-close
          +e.P.filter
            +e.A(href='#').filter-close
      +e.BUTTON.button Показать 251 сауну
