@mixin link {
  color: #2f3b4f;
  font-family: $font-second;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .02em;
  transition: color $ease-main;

  &:hover {
    color: #27549f;
  }
}

@mixin link-disabled {
  color: $color-border;
  border-color: transparent;
}

@mixin link-dashed {
  border-bottom-style: dashed;
}
