.listing {
  display: block;
  
  &__content {
    background-color: #f8f8f8;
    padding: 20px 0;
  }
  
  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  
  &__card {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
  }
}