.listing {
  display: block;
  
  &__content {
    background-color: #f8f8f8;
    padding: 23px 0 115px;
    
    @include screen('tablet-wide') {
      background-color: transparent;
    }
  }
  
  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    
    @include screen('tablet-wide') {
      margin: 0;
    }
  }
  
  &__card {
    width: 25%;
    padding: 22px 10px;
    box-sizing: border-box;
    
    @include screen('tablet-wide') {
      width: 100%;
      padding: 30px 0;
    }
    
    @include screen('tablet-small') {
      padding: 20px 0;
    }
  }
  
  &__ads {
    margin-top: 4px;
    height: 344px;
    background-color: #ccc;
    
    @include screen('tablet-wide') {
      margin-top: 30px;
    }
  }
}