mixin imgcard(img)
  +b.imgcard&attributes(attributes)
    +e.img
      if img
        img(src='assets/images/' + img)
      else
        img(src='assets/images/lastview1.jpg')
    +e.hover
      +e.P.text САУНА
        br
        | ДВА БЕРЕГА
      +rating(2).imgcard__rating
      +e.A(href='#').button подробнее