mixin result(title, name, onetel)
  +b.result(itemscope itemtype='http://schema.org/Place')&attributes(attributes)
    +e.P.title(itemprop='description')= title
    +e.content
      +e.left
        +e.row
          +e.P.name
            a(href='#' itemprop='name')= name
          +e.rating
            +rating(3)(itemprop='aggregateRating')
            +e.P.reviews(itemprop='reviews') 15 отзывов
        +e.row
          +e.P.address(itemprop='address') Москва, ул. Ленина 16/2
          +e.tels
            +e.A(href='tel:+74951853423' itemprop='telephone').tel +7(495)185-34-23
            if !onetel
              +e.A(href='tel:+74951853423' itemprop='telephone').tel +7(495)185-34-23
        +e.P.text(itemprop='description') Финская, турецкая, комната отдыха, массаж, бильярд. 3 зала. Круглосуточно.
      +e.right
        +e.P.price(itemscope itemtype='http://schema.org/Offer') 1500-2000 руб/час
        +e.A(href='#').button подробнее
        