mixin sitemap()
  +b.sitemap&attributes(attributes)
    .container
      +e.P.heading Карта сайта (Москва)
      +e.tab-links
        each val, index in ['По алфавиту', 'Популярное', 'По районам', 'По округам', 'Метро', 'Улицам']
          if index == 0
            +e.A(href='#' data-tab-target='linkgroup1').tab-link.active= val
          else
            +e.A(href='#' data-tab-target='linkgroup' + (index + 1)).tab-link= val
      +e.tab(data-tab='linkgroup1' data-tab-group='linkgroups').active
        +e.nav-links
          +e.nav-links-list
            each val, index in ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Щ', 'Э', 'Ю', 'Я']
              +e.A(href='#sitelinks' + (index+1)).nav-link= val
        +e.links
          +e.cols
            +e.col
              +sitemap-list('sitelinks1', 'А', ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна', 'Crazy в отеле, сауна', 'ELITE & CLUB GOLD SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна'])
              +sitemap-list('sitelinks2', 'Б', ['Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
              +sitemap-list('sitelinks3', 'В', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
            +e.col
              +sitemap-list(false, false, ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна'])
              +sitemap-list('sitelinks4', 'Г', ['Crazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
              +sitemap-list('sitelinks5', 'Д', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
            +e.col
              +sitemap-list(false, false, ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна'])
              +sitemap-list('sitelinks6', 'Е', ['Жrazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
              +sitemap-list('sitelinks7', 'Ж', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
            +e.col
              +sitemap-list(false, false, ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна'])
              +sitemap-list('sitelinks8', 'З', ['Жrazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
              +sitemap-list('sitelinks9', 'И', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
      +e.tab(data-tab='linkgroup2' data-tab-group='linkgroups')
        //+e.nav-links
          +e.nav-links-list
            each val, index in ['Топ-1', 'Топ-2', 'Топ-3', 'Топ-4']
              +e.A(href='#sitelinks2' + (index+1)).nav-link= val
        +e.links
          +e.cols
            +e.col
              +sitemap-list('sitelinks21', 'Топ-1', ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна', 'Crazy в отеле, сауна', 'ELITE & CLUB GOLD SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])              
            +e.col
              +sitemap-list(false, false, ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна'])
              +sitemap-list('sitelinks22', 'Топ-2', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
            +e.col
              +sitemap-list('sitelinks23', 'Топ-3', ['Жrazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
            +e.col
              +sitemap-list(false, false, ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна'])
              +sitemap-list('sitelinks24', 'Топ-4', ['Жrazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
      +e.tab(data-tab='linkgroup3' data-tab-group='linkgroups')
        //+e.nav-links
          +e.nav-links-list
            each val, index in ['Район 1', 'Район 2', 'Район 3', 'Район 4', 'Район 5', 'Район 6', 'Район 7', 'Район 8']
              +e.A(href='#sitelinks3' + (index+1)).nav-link= val
        +e.links
          +e.cols
            +e.col
              +sitemap-list('sitelinks31', 'Район 1', ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна', 'Crazy в отеле, сауна', 'ELITE & CLUB GOLD SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна'])
              +sitemap-list('sitelinks32', 'Район 2', ['Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
            +e.col
              +sitemap-list('sitelinks33', 'Район 3', ['Crazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
              +sitemap-list('sitelinks34', 'Район 4', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
            +e.col
              +sitemap-list('sitelinks35', 'Район 5', ['Жrazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
              +sitemap-list('sitelinks36', 'Район 6', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
            +e.col
              +sitemap-list(false, false, ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна'])
              +sitemap-list('sitelinks37', 'Район 7', ['Жrazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
              +sitemap-list('sitelinks38', 'Район 8', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
      +e.tab(data-tab='linkgroup4' data-tab-group='linkgroups')
        //+e.nav-links
          +e.nav-links-list
            each val, index in ['Округ 1', 'Округ 2', 'Округ 3', 'Округ 4']
              +e.A(href='#sitelinks4' + (index+1)).nav-link= val
        +e.links
          +e.cols
            +e.col
              +sitemap-list('sitelinks41', 'Округ 1', ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна', 'Crazy в отеле, сауна', 'ELITE & CLUB GOLD SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна'])
            +e.col
              +sitemap-list(false, false, ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна'])
              +sitemap-list('sitelinks42', 'Округ 2', ['Crazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
            +e.col
              +sitemap-list(false, false, ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна'])
              +sitemap-list('sitelinks43', 'Округ 3', ['Жrazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
            +e.col
              +sitemap-list(false, false, ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна'])
              +sitemap-list('sitelinks44', 'Округ 4', ['Жrazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
      +e.tab(data-tab='linkgroup5' data-tab-group='linkgroups')
        //+e.nav-links
          +e.nav-links-list
            each val, index in ['Метро 1', 'Метро 2', 'Метро 3', 'Метро 4', 'Метро 5', 'Метро 6', 'Метро 7', 'Метро 8', 'Метро 9', 'Метро 10']
              +e.A(href='#sitelinks5' + (index+1)).nav-link= val
        +e.links
          +e.cols
            +e.col
              +sitemap-list('sitelinks51', 'Метро 1', ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна', 'Crazy в отеле, сауна', 'ELITE & CLUB GOLD SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна'])
              +sitemap-list('sitelinks52', 'Метро 2', ['Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
              +sitemap-list('sitelinks53', 'Метро 3', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
            +e.col
              +sitemap-list(false, false, ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна'])
              +sitemap-list('sitelinks54', 'Метро 4', ['Crazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
              +sitemap-list('sitelinks55', 'Метро 5', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
            +e.col
              +sitemap-list(false, false, ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна'])
              +sitemap-list('sitelinks56', 'Метро 6', ['Жrazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
              +sitemap-list('sitelinks57', 'Метро 7', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
            +e.col
              +sitemap-list(false, false, ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна'])
              +sitemap-list('sitelinks58', 'Метро 8', ['Жrazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
              +sitemap-list('sitelinks59', 'Метро 9', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
      +e.tab(data-tab='linkgroup6' data-tab-group='linkgroups')
        //+e.nav-links
          +e.nav-links-list
            each val, index in ['Улица 1', 'Улица 2', 'Улица 3', 'Улица 4', 'Улица 5', 'Улица 6', 'Улица 7', 'Улица 8', 'Улица 9', 'Улица 10', 'Улица 11', 'Улица 12']
              +e.A(href='#sitelinks6' + (index+1)).nav-link= val
        +e.links
          +e.cols
            +e.col
              +sitemap-list('sitelinks61', 'Улица 1', ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна', 'Crazy в отеле, сауна', 'ELITE & CLUB GOLD SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна'])
              +sitemap-list('sitelinks62', 'Улица 2', ['Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
              +sitemap-list('sitelinks63', 'Улица 3', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
              +sitemap-list('sitelinks64', 'Улица 4', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
            +e.col
              +sitemap-list(false, false, ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна'])
              +sitemap-list('sitelinks65', 'Улица 5', ['Crazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
              +sitemap-list('sitelinks66', 'Улица 6', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
              +sitemap-list('sitelinks67', 'Улица 7', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
            +e.col
              +sitemap-list(false, false, ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна'])
              +sitemap-list('sitelinks68', 'Улица 8', ['Жrazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
              +sitemap-list('sitelinks69', 'Улица 9', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
              +sitemap-list('sitelinks610', 'Улица 10', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])
            +e.col
              +sitemap-list(false, false, ['100А, сауна', '24, баня', 'Best Travel, сауна', 'Chillout, сауна'])
              +sitemap-list('sitelinks611', 'Улица 11', ['Жrazy в отеле, сауна', 'ELITE & CLUB GOLD', 'SHARK', 'Galaxy на Авиамоторной, сауна', 'Gallon beer, сауна', 'Gold Shark в Алтуфьево, сауна', 'Gustovita, сауна', 'La Primavera, сауна', 'Lady Boss, сауна', 'Lady Boss, сауна', 'Ledy Boss, сауна', 'Relax на Авиамоторной, сауна', 'SPA-сауна на Пролетарской', 'Sabay, сауна', 'Spa-сауна Каскад', 'Spa-сауна Мир', 'Spa-сауна Петровско-Разумовская', 'Spa-сауна Таганская', 'Spa-сауна Электрозаводская', 'Spa-центр Чайка', 'Street-фитнес, сауна'])
              +sitemap-list('sitelinks612', 'Улица 12', ['V.V.I.P. клуб Парадиз', 'VIP Сауна Парься по-Царски в Гольяново со скидкой', 'VIP-Сауна Воск', 'VIP-баня Red house', 'VIP-баня на Таганке', 'VIP-клуб Амазон', 'VIP-клуб Джентельмен', 'VIP-клуб Морской', 'VIP-клуб Памир', 'VIP-клуб Эверест', 'VIP-комплекс Exotic', 'VIP-сауна', 'VIP-сауна Swiss Star', 'VIP-сауна Аленка', 'VIP-сауна Аллигатор', 'VIP-сауна Жемчужина', 'VIP-сауна Лотос', 'VIP-сауна Оазис', 'VIP-сауна в Хамовниках', 'VIP-сауна в фитнес-клубе на Берзарина', 'VIP-сауна на Кутузовском'])

mixin sitemap-list(id, heading, links)
  +e.list(id=id)
    if heading
      +e.P.list-heading= heading
    +e.UL.list-items
      each item in links
        +e.LI.list-item
          +e.A(href='#').list-link= item
