.sales {
  display: block;
  
  &__content {
    padding: 0 0 61px;
    background-color: #f8f8f8;
    
    @include screen('tablet-wide') {
      padding: 60px 0;
      background-color: transparent;
    }
    
    @include screen('tablet-small') {
      padding: 30px 0;
    }
    
    .container {
      display: flex;
      justify-content: space-between;
    }
  }
  
  &__list {
    width: calc(100% - 296px);
    margin-left: -9px;
    
    @include screen('tablet-wide') {
      width: 100%;
      margin-left: 0;
    }
  }
  
  &__list-banner {
    margin-right: 7px;
    height: 173px;
    background-color: #ccc;
    
    & + .sales__sale {
      margin-top: 32px;
      
      @include screen('tablet-wide') {
        margin-top: 60px;
      }
      
      @include screen('tablet-small') {
        margin-top: 32px;
      }
    }
  } 
  
  &__sale {
    margin-bottom: 44px;
    
    @include screen('tablet-wide') {
      margin-bottom: 70px;
    }
    
    @include screen('tablet-small') {
      margin-bottom: 44px;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__container {
    position: relative;
    min-height: 598px;
    padding-top: 35px;
    
    @include screen('tablet-wide') {
      min-height: 0;
      padding-top: 0;
    }
  }
  
  &__banner {
    width: 296px;
    height: 598px;
    background-color: #ccc;
    position: absolute;
    top: 35px;
    right: 17px;
    
    @include screen('tablet-wide') {
      display: none;
    }
  }
}