.slidecard {
  display: block;
  
  .slider__slide {
    position: relative;
    padding-top: 68.42%;
    overflow: hidden;
    
    > img {
      @include fill-img;
    }
    
    @include screen('tablet-wide') {
      padding-top: 68%;
    }
  }
  
  .slider__button {
    opacity: 0;
    pointer-events: none;
    
    @include screen('tablet-wide') {
      opacity: 1;
      pointer-events: all;
    }
  }
  
  &__img {
    
    &:hover {
      .slider__button {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  
  &__content {
    margin-top: 21px;
    padding-left: 6px;
    
    @include screen('tablet-wide') {
      margin-top: 15px;
    }
  }
  
  &__title {
    color: $color-darkred;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .01em;
    text-transform: uppercase;
    
    @include screen('tablet-wide') {
      display: none;
    }
  }
  
  &__name {
    display: inline-block;
    margin-top: 7px;
    color: $color-lightblue;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: .02em;
    
    @include screen('tablet-wide') {
      font-size: 36px;
      margin-top: 0;
    }
    
    @include screen('tablet-small') {
      font-size: 18px;
    }
  }
  
  &__desc {
    color: #595959;
    font-size: 16px;
    line-height: (20/16);
    font-weight: 300;
    letter-spacing: .02em;
    margin-top: 8px;
    max-height: 4*(20/16)*1em;
    overflow: hidden;
    
    @include screen('tablet-wide') {
      font-size: 28px;
      line-height: (40/28);
      margin-top: 3px;
      max-height: 4*(40/28)*1em;
    }
    
    @include screen('tablet-small') {
      font-size: 16px;
      line-height: (20/16);
      max-height: 4*(20/16)*1em;
    }
  }
}