mixin slidecard(img, title, name, desc)
  +b.slidecard&attributes(attributes)
    +e.img
      +slider(false, true)
        +slide()
          img(src='assets/images/' + img)
        +slide()
          img(src='assets/images/' + img)
        +slide()
          img(src='assets/images/' + img)      
    +e.content
      +e.title= title
      +e.A(href='#').name= name
      +e.desc
        - for (var i = 0; i < desc.length; i++)
          | #{desc[i]}
          if (i < desc.length - 1)
            br
