mixin infocard(img, reviews, title, name, desc)
  +b.infocard&attributes(attributes)
    +e.A(href='#').img
      img(src='assets/images/'+img)
      +e.img-hover
        img(src='assets/images/metro.png')
        | Новослободская
    +e.content
      +e.rating
        +rating(3)
        if reviews
          +e.A(href='#').reviews 15 отзывов
      +e.title= title
      +e.A(href='#').name= name
      +e.info
        +e.price 1000 - 1200 руб.
        if desc
          +e.desc= desc
        +e.address
          img(src='assets/images/pin.png')
          | ул. Ленина 16/2


mixin infocard-hover(img, reviews, title, name, desc)
  +b.infocard&attributes(attributes)
    +e.A(href='#').img
      img(src='assets/images/'+img)
      +e.img-hover
        img(src='assets/images/metro.png')
        | Новослободская
    +e.content
      +e.rating
        +rating(3)
        if reviews
          +e.A(href='#').reviews 15 отзывов
      +e.title= title
      +e.A(href='#').name= name
      +e.info
        +e.price 1000 - 1200 руб.
        if desc
          +e.desc= desc
        +e.address
          img(src='assets/images/pin.png')
          | ул. Ленина 16/2
      +e.P.text Температура парилки от 30 до 50 градусов
        br
        | настоящий подарок тем, кто не может 
        br
        | позволить себе горячие пропарки. 
        br
        | Нежный пар хамама, который


mixin infocard-list(img, reviews, title, name, metro, desc)
  +b.infocard&attributes(attributes)
    +e.A(href='#').img
      img(src='assets/images/'+img)
    +e.content
      +e.title= title
      +e.rating
        +rating(3)
        if reviews
          +e.A(href='#').reviews (15 отзывов)      
      +e.A(href='#').name= name
      +e.info
        +e.price 1000 - 1200 руб.
        if metro
          +e.P.metro
            img(src='assets/images/metro.png')
            | Новослободская
        if desc
          +e.desc._type
            +e.A(href='#').desctype Финский зал
            | В сауне 7 залов
          +e.address
            img(src='assets/images/pin.png')
            | ул. Ленина 16/2
