mixin tags()
  +b.tags&attributes(attributes)
    +e.container.container
      +e.P.desc Быстрые ссылки:
      +e.list
        +e.A(href='#').list-item Недорогие сауны для двоих
        +e.A(href='#').list-item Сауны с комнатой отдыха
        +e.A(href='#').list-item Сауны с бассейном
        +e.A(href='#').list-item._active Сауны с мангалом
        +e.A(href='#').list-item Элитные VIP сауны
        +e.A(href='#').list-item Сауны с караоке
        +e.A(href='#').list-item Общественные бани
        +e.A(href='#').list-item Сауна с караоке и бассейном
        +e.A(href='#').list-item Сауна с джакузи
        +e.A(href='#').list-item Сауны с отзывами
        +e.A(href='#').list-item Недорогие сауны с бассейном
        +e.A(href='#').list-item С банщиком и вениками
        +e.A(href='#').list-item Элитные VIP сауны
        +e.A(href='#').list-item Бани на дровах
        +e.A(href='#').list-item Сауна с бильярдом
        +e.A(href='#').list-item День рождения в сауне
        +e.A(href='#').side-button Все теги
