include ../blocks/accordion/accordion
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/button/button
include ../blocks/content-zone/content-zone
include ../blocks/desc/desc
include ../blocks/dropdown/dropdown
include ../blocks/filter/filter
include ../blocks/form-elements/form-elements
include ../blocks/grid/grid
include ../blocks/headblock/headblock
include ../blocks/icon/icon
include ../blocks/imgline/imgline
include ../blocks/infocard/infocard
include ../blocks/link/link
include ../blocks/lists/lists
include ../blocks/map/map
include ../blocks/offers/offers
include ../blocks/popups/popups
include ../blocks/put-block-into-slot/put-block-into-slot
include ../blocks/rating/rating
include ../blocks/review/review
include ../blocks/slidecard/slidecard
include ../blocks/slider/slider
include ../blocks/table/table
include ../blocks/tabs/tabs
include ../blocks/tags/tags
include ../blocks/typecard/typecard
include ../components/header/header
include ../components/places/places
include ../components/random/random
include ../components/reviews/reviews
include ../components/types/types
include ../components/ui-kit/ui-kit