extends ../../layouts/default

block head
  - var pageTitle = 'Map'

block content
  +b.maplist
    +header()
    +topline-menu(false, false, 'Добавить сауну').__topline
    +e.breadcrumbs
      .container
        +breadcrumbs(['Главная', 'Результат поиска'])
    +put-block-into-slot('headblock', 'xl')
      +headblock-span('Результат поиска: ', '214 заведений')
    +filter()
      +filter-tags(true)._switcher
    +put-block-into-slot('headblock', 'md')
    +mapblock().__mapblock
    +footer()
    +popups()
