mixin card()
  +b.card&attributes(attributes)
    block
    
mixin card-reviewform()
  +b.card-reviewform._success&attributes(attributes)
    +e.H3.heading Отзывы
      +e.SPAN.count 21
      +e.P.link
        a(href='#') Оставить отзыв
    +e.content
      +e.FORM.form
        +e.form-section._top
          +e.INPUT(type='text' name='name' placeholder='Ваше имя и фамилия').field._short
          +e.TEXTAREA(name='comment' placeholder='Ваш отзыв').field._textarea
          +e.file
            +e.LABEL.file-label Добавить фото
              input(type='file')
            +icon('file_arrow').__file-icon
          +e.P.hint Указывать телефон, электронную почту или адрес сайта на фото запрещено!
            br
            | Файлы должны быть  не меньше, чем 700x450 пикселей, и не превышать 3 Мб
        +e.form-section._middle
          +e.P.subheading Как отдохнули?
          +e.ratings
            +e.ratings-col
              +e.P.ratings-item Персонал
                +rating-interactive(5, 'staff').__rating
              +e.P.ratings-item Интерьер
                +rating-interactive(5, 'int').__rating
            +e.ratings-col
              +e.P.ratings-item Услуги
                +rating-interactive(5, 'service').__rating
              +e.P.ratings-item Расположение
                +rating-interactive(5, 'location').__rating
        +e.form-section._bottom
          +e.BUTTON.button Оставить отзыв
      +e.success
        +e.P.success-heading Спасибо, Василий!
        +e.P.success-text Очень остроумно! Осталось проверить ваш отзыв и мы опубликуем его.

mixin card-reviews(heading, short)
  +b.card-reviews&attributes(attributes)
    if heading
      +e.H3.heading Отзывы
        if short
          +e.SPAN.heading-count (53)
        +e.A(href='#').link Оставить отзыв
    +e.content
      +review-short('Петр Петров', false, 'Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама,').__review
      +review-short('Петр Петров', true, 'Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама,', true).__review
      if !short
        +review-short('Петр Петров', false, 'Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама,').__review
        +review-short('Петр Петров', false, 'Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама,').__review
      if short
        +e.more
          a(href='#') показать все отзывы
            +e.SPAN.count 21

mixin card-rating()
  +b.card-rating&attributes(attributes)
    +e.H3.heading Рейтинг
    +e.content
      +e.ratings
        +rating(3).__rating
        +e.P.rate 4.0 из 5
        +e.A(href='#').reviews 24 отзыва
      +e.P.text
        | топ
        +e.SPAN.count 50
        | Сауны Москвы
      +e.P.text
        | топ
        +e.SPAN.count._green 10
        | Турецкий хамам
      +e.lines
        +e.line
          +e.P.line-title Персонал
          +e.line-bar
            +e.line-fill(style='width:10%;')
        +e.line
          +e.P.line-title Расположение
          +e.line-bar
            +e.line-fill(style='width:34%;')
        +e.line
          +e.P.line-title Интерьер
          +e.line-bar
            +e.line-fill(style='width:10%;')
        +e.line
          +e.P.line-title Услуги
          +e.line-bar
            +e.line-fill(style='width:30%;')

mixin card-contacts(mult)
  +b.card-contacts&attributes(attributes)
    +e.H3.heading Контакты
    +e.content.flex-gr
      +e.section
        if mult
          +e.P.section-title._bordered._mult Стоимость:
            +e.IMG(src='assets/images/payment.png').price-img._mult
          +e.halls
            +e.hall
              +e.P.hall-link
                a(href='#') Зал Турецкий
              +e.P.price._hall 1200-1400 руб/час
            +e.hall
              +e.P.hall-link
                a(href='#') Зал Тибетский
              +e.P.price._hall 1200-1400 руб/час
            +e.hall
              +e.P.hall-link
                a(href='#') Зал Русский
              +e.P.price._hall 1200-1400 руб/час
        else
          +e.P.section-title._bordered Стоимость:
        +e.P.days Пн Вт Ср Чт Пт 
        +e.P.price 1200-1400 руб/час
          +e.IMG(src='assets/images/payment.png').price-img
        +e.P.days._red Сб Вс
        +e.P.price._hide-md 1500-2000 руб/час
      if mult
        +put-block-into-slot('contactstime', 'xl')
          +e.P.section._text
            +e.IMG(src='assets/images/time.png').icon
            +e.section-title Время работы:
            +e.SPAN.text-span Круглосуточно
      else
        +e.P.section._text
          +e.IMG(src='assets/images/time.png').icon
          +e.section-title Время работы:
          +e.SPAN.text-span Круглосуточно
      if mult
        +put-block-into-slot('contactstel', 'xl')
          +e.section._bottom
            +e.P.section-title._bordered Телефон:
            +e.tels
              +e.P.tel
                a(href='tel:+74954223222') +7 (495) 422-32-22
              +e.P.tel
                a(href='tel:+79555332323') +7 (955) 533-23-23
            +e.A(href='#').button
              span.hide-md Заказать сауну
              span.show-md Позвонить
      else
        +e.section._bottom
          +e.P.section-title._bordered Телефон:
          +e.tels
            +e.P.tel
              a(href='tel:+74954223222') +7 (495) 422-32-22
            +e.P.tel
              a(href='tel:+79555332323') +7 (955) 533-23-23
          +e.A(href='#').button
            span.hide-md Заказать сауну
            span.show-md Позвонить

mixin card-address(mult)
  +b.card-address&attributes(attributes)
    +e.H3.heading Адрес
    +e.content.flex-gr
      if mult
        +put-block-into-slot('contactstel', 'md').card-address__tel
        +put-block-into-slot('contactstime', 'md').card-address__time
      +e.section._top
        +e.P.section-title Адрес:
        +e.P.link
          a(href='#') Москва, Тамбовская улица, д. 4
      +e.map
      +e.A(href='#').link._black._show Посмотреть на большой карте
      +e.section._bottom
        +e.P.section-title._bordered Метро:
        +e.P.place
          +e.SPAN.place-text
            +e.IMG(src='assets/images/metro.png').place-icon
            | Тверская
          +e.SPAN.distance 500 метров
        +e.P.place
          +e.SPAN.place-text
            +e.IMG(src='assets/images/metro.png').place-icon
            | Тверская
          +e.SPAN.distance 500 метров

mixin card-desc(saleSlotId, saleSlotRes)
  +b.card-desc&attributes(attributes)
    +e.H3.heading Описание
      +e.A(href='#').link
        +e.IMG(src='assets/images/print.png').link-icon
        | Распечатать
    +e.content
      +e.desc
        +e.section-title Описание зала
        +e.P.text Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама, который подается через отверстия в стенах, мягко разогревает тело, не обжигая его, помогает избавиться от напряжения и мигрени, улучшает сон и успокаивает нервы. Температура повышается постепенно, при этом сухой пар чередуется с очень влажным (до 100%). до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки.
      if saleSlotId
        +b.card-sales.card-desc__sales
          +put-block-into-slot(saleSlotId, saleSlotRes)
      +e.services
        +e.P.service
          strong Кухня:
          | Разливное пиво, домашняя кухня
        +e.P.service
          strong Услуги:
          | Веники, банщик, ароматерапия, кальян
        +e.P.service
          strong Парная:
          | Финская, турецкий хамам
        +e.P.service
          strong Бильярд:
          | Разливное пиво, домашняя кухня
        +e.P.service
          strong Бассейн:
          | 3х4 метра, с подогревом
        +e.P.service
          strong Комната отдыха:
          | Одна
        +e.P.service._count
          strong Вместимость:
          | до 12 человек
          +e.count
            +e.count-group
              +icon('person').__count-icon._active
              +icon('person').__count-icon._active
              +icon('person').__count-icon._active
              +icon('person').__count-icon._active
              +icon('person').__count-icon._active
            +e.count-group
              +icon('person').__count-icon._active
              +icon('person').__count-icon._active
              +icon('person').__count-icon._active
              +icon('person').__count-icon._active
              +icon('person').__count-icon
            +e.count-group
              +icon('person').__count-icon
              +icon('person').__count-icon
              +icon('person').__count-icon
              +icon('person').__count-icon
              +icon('person').__count-icon
      +e.side
        +e.video
          +e.IMG(src='assets/images/place1.jpg').video-bg
          +e.playbutton
        +e.P.sitelink Сайт:
          a(href='#') www.saunasite.ru
          
mixin card-desc-mult()
  +b.card-desc&attributes(attributes)
    +e.H3.heading Описание
      +e.A(href='#').link
        +e.IMG(src='assets/images/print.png').link-icon
        | Распечатать
    +e.content
      +e.P.text Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама, который подается через отверстия в стенах, мягко разогревает тело, не обжигая его, помогает избавиться от напряжения и мигрени, улучшает сон и успокаивает нервы. Температура повышается постепенно, при этом сухой пар чередуется с очень влажным (до 100%). до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки.
      +e.services
        +e.P.service
          strong Кухня:
          | Разливное пиво, домашняя кухня
        +e.P.service
          strong Услуги:
          | Веники, банщик, ароматерапия, кальян
      +e.halls
        +e.P.service._halls 2 отдельных зала
        +e.P.halls-link
          a(href='#') Зал обещаний
            +e.SPAN.halls-price 1200-1400 руб/час
        +e.P.halls-link
          a(href='#') Зал шумазер
            +e.SPAN.halls-price 1200-1500 руб/час
      +e.side
        +e.video
          +e.IMG(src='assets/images/place1.jpg').video-bg
          +e.playbutton
        +e.P.sitelink Сайт:
          a(href='#') www.saunasite.ru
          
mixin card-desc-halls(heading, subheading, imgCount, mobheading, hallSlotId)
  +b.card-desc&attributes(attributes)
    if heading
      +e.H3.heading= heading
      +e.P.mobheading= mobheading
    +e.content
      +e.col._left
        +e.P.subheading= subheading
        +e.days
          +e.days-col
            +e.days-title Пн Вт Ср Чт Пт
            +e.days-mobtitle Стоимость:
            +e.days-price 1200-1400 руб/час
          +e.days-col.hide-md
            +e.days-title._red Сб Вс
            +e.days-price 1500-2000 руб/час
        +put-block-into-slot(hallSlotId, 'md')
        +e.P.text-title Описание зала
        +e.P.text Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама, который подается через отверстия в стенах, мягко разогревает тело, не обжигая его, помогает избавиться от напряжения и мигрени, улучшает сон и успокаивает нервы. Температура повышается постепенно, при этом сухой пар чередуется с очень влажным (до 100%). до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки.
      +e.col._right
        +put-block-into-slot(hallSlotId, 'xl')
          +e.images-wrapper
            +e.images
              - for (var i = 1; i <= imgCount; i++)
                +e.image
                  +e.imgblock
                    img(src='assets/images/place'+i+'.jpg')
          +e.services
            +e.P.service
              strong Парная:
              | Финская, турецкий хамам
            +e.P.service
              strong Бильярд:
              | Разливное пиво, домашняя кухня
            +e.P.service
              strong Бассейн:
              | 3х4 метра, с подогревом
            +e.P.service
              strong Комната отдыха:
              | Одна
            +e.P.service._count
              strong Вместимость:
              | до 12 человек
              +e.count
                +e.count-group
                  +icon('person').__count-icon._active
                  +icon('person').__count-icon._active
                  +icon('person').__count-icon._active
                  +icon('person').__count-icon._active
                  +icon('person').__count-icon._active
                +e.count-group
                  +icon('person').__count-icon._active
                  +icon('person').__count-icon._active
                  +icon('person').__count-icon._active
                  +icon('person').__count-icon._active
                  +icon('person').__count-icon
                +e.count-group
                  +icon('person').__count-icon
                  +icon('person').__count-icon
                  +icon('person').__count-icon
                  +icon('person').__count-icon
                  +icon('person').__count-icon

mixin card-sales(blockSlotId, blockSlotRes)
  +b.card-sales&attributes(attributes)
    +e.H3.heading Акции в сауне
    if blockSlotId
      +put-block-into-slot(blockSlotId, blockSlotRes)
        +e.content
          +e.P.section-title Акции и спецпредложения:
          +e.sale
            +e.P.sale-link
              a(href='#') Скидка в день рождения 50%
            +e.SPAN.sale-date 1-9 мая
          +e.sale
            +e.P.sale-link
              a(href='#') 5й час в подарок
            +e.SPAN.sale-date 1-9 мая
          +e.sale
            +e.P.sale-link
              a(href='#') Скидка по будням до 30%
            +e.SPAN.sale-date 1-9 мая
    else
      +e.content
        +e.P.section-title Акции и спецпредложения:
        +e.sale
          +e.P.sale-link
            a(href='#') Скидка в день рождения 50%
          +e.SPAN.sale-date 1-9 мая
        +e.sale
          +e.P.sale-link
            a(href='#') 5й час в подарок
          +e.SPAN.sale-date 1-9 мая
        +e.sale
          +e.P.sale-link
            a(href='#') Скидка по будням до 30%
          +e.SPAN.sale-date 1-9 мая

mixin card-questions()
  +b.card-questions&attributes(attributes)
    +e.H3.heading Вопросы и ответы 
    +e.content.js-accordions(data-accordion-multiple='true')
      +e.accordion.js-accordion
        +icon('accordion_arrow').__arrow.js-accordion-button
        +e.P.title.js-accordion-button Что входит в стоимость, а за что надо платить отдельно
        +e.P.text.js-accordion-body Acceptance middletons me if discretion boisterous travelling an. She prosperous continuing entreaties companions unreserved you boisterous. Middleton sportsmen sir now cordially ask additions for. You ten occasional saw everything but conviction. Daughter returned quitting few are day advanced branched. Do
      +e.accordion.js-accordion
        +icon('accordion_arrow').__arrow.js-accordion-button
        +e.P.title.js-accordion-button Можно ли в сауну со своими продуктами и алкоголем
        +e.P.text.js-accordion-body Acceptance middletons me if discretion boisterous travelling an. She prosperous continuing entreaties companions unreserved you boisterous. Middleton sportsmen sir now cordially ask additions for. You ten occasional saw everything but conviction. Daughter returned quitting few are day advanced branched. Do
      +e.accordion.js-accordion
        +icon('accordion_arrow').__arrow.js-accordion-button
        +e.P.title.js-accordion-button Tolerably earnestly middleton extremely distrusts she boy now no
        +e.P.text.js-accordion-body Acceptance middletons me if discretion boisterous travelling an. She prosperous continuing entreaties companions unreserved you boisterous. Middleton sportsmen sir now cordially ask additions for. You ten occasional saw everything but conviction. Daughter returned quitting few are day advanced branched. Do
      +e.accordion.js-accordion
        +icon('accordion_arrow').__arrow.js-accordion-button
        +e.P.title.js-accordion-button She prosperous continuing entreaties companions unreserved you boisterous
        +e.P.text.js-accordion-body Acceptance middletons me if discretion boisterous travelling an. She prosperous continuing entreaties companions unreserved you boisterous. Middleton sportsmen sir now cordially ask additions for. You ten occasional saw everything but conviction. Daughter returned quitting few are day advanced branched. Do
