.card {
  display: block;
}

@mixin card-heading() {
  color: #1f1f1f;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: .04em;
  margin-bottom: 6px;
  
  @include screen('tablet-wide') {
    display: none;
  }
}

@mixin card-count() {
  display: inline-block;
  border-radius: 2px;
  background-color: #699ae3;
  color: #ffffff;
  font-family: $font-second;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .02em;
  padding: 5px 10px;
  
  @include screen('tablet-wide') {
    font-size: 30px;
  }
  
  @include screen('tablet-small') {
    font-size: 18px;
  }
}

@mixin card-link() {
  color: #719ee3;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .04em;
  border-bottom: 1px dashed #719ee3;
}

@mixin card-link-2() {
  color: $color-blue;
  font-family: $font-second;
  font-size: 17px;
  letter-spacing: -.01em;
  border-bottom: 1px solid $color-blue;
}

@mixin card-content() {
  background-color: #fff;
  border: 1px solid #eee;
  box-sizing: border-box;
  
  @include screen('tablet-wide') {
    border: 0;
  }
}

@mixin card-input() {
  border: 1px solid rgba(#000, .15);
  color: rgba(#202020, .5);
  font-family: $font-second;
  font-size: 14px;
  letter-spacing: .02em;
  
  @include screen('tablet-wide') {
    font-size: 24px;
  }
  
  @include screen('tablet-small') {
    font-size: 14px;
  }
}

@mixin card-button() {
  display: inline-block;
  background-color: $color-yellow;
  color: #3e3e3e;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .02em;
  padding: 16px;
  text-align: center;
}

@mixin card-section-title {
  color: #1f1f1f;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: .04em;
  box-sizing: border-box;
  
  @include screen('tablet-small') {
    font-size: 20px;
  }
}

// card-reviewform

.card-reviewform {
  
  &__heading {
    @include card-heading;
    display: flex;
    align-items: center;
    min-height: 31px;
    
    @include screen('tablet-wide') {
      padding: 0 9px;
      display: flex;
      @include card-section-title;
      min-height: 45px;
    }
    
    @include screen('tablet-small') {
      padding: 0;
      min-height: 31px;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
  
  &__count {
    @include card-count;
    display: none;
    margin-top: 1px;
    margin-left: 7px;
    margin-right: 20px;
    
    @include screen('tablet-small') {
      margin-top: -3px;
      margin-bottom: 3px;
    }
  }
  
  &__link {
    @include card-link;
    margin-left: auto;
    margin-right: 3px;
    margin-bottom: 2px;
    border-bottom: 0;
    
    @include screen('tablet-wide') {
      font-size: 30px;
    }
    
    @include screen('tablet-small') {
      width: 100%;
      font-size: 18px;
      margin-top: 5px;
      margin-left: 0;
      margin-right: 0;
    }
    
    a {
      color: inherit;
      border-bottom: 1px dashed #719ee3;
    }
  }
  
  &__content {
    @include card-content;
    border: 0;
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition: opacity $ease-main;
    margin-top: 10px;
    margin-bottom: -8px;
    
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      right: 60px;
      bottom: 100%;
      border: 15px solid transparent;
      border-bottom-color: #fff;
      border-bottom-width: 10px;
      pointer-events: none;
    }
    
    &.is-active {
      opacity: 1;
      pointer-events: all;
      margin-bottom: 16px;
    }
  }
  
  &__inner {
    overflow: hidden;
    display: none;
  }
  
  &__form-section {
    border-top: 1px solid rgba(#000, .1);
    
    &:first-child {
      border-top: 0;
    }
    
    &_top {
      padding: 26px 31px 13px;
      
      @include screen('tablet-wide') {
        padding: 10px 0;
      }
      
      @include screen('tablet-small') {
        padding: 0 0 10px;
      }
    }
    
    &_middle {
      padding: 30px 31px 24px;
      
      @include screen('tablet-wide') {
        padding: 20px 0;
      }
    }
    
    &_bottom {
      padding: 22px 31px;
      
      @include screen('tablet-wide') {
        padding: 20px 0;
      }
    }
  }
  
  &__field {
    @include card-input;
    display: block;
    width: 100%;
    max-width: 660px;
    box-sizing: border-box;
    padding: 16px;
    
    @include screen('tablet-wide') {
      max-width: none;
      padding: 20px;
    }
    
    @include screen('tablet-small') {
      padding: 15px;
    }
    
    &_short {
      max-width: 510px;
      
      @include screen('tablet-wide') {
        max-width: none;
      }
    }
    
    &_textarea {
      height: 138px;
      resize: none;
    }
    
    & + & {
      margin-top: 18px;
    }
  }
  
  &__file {
    border: 1px dashed $color-blue;
    background-color: #e1e8f2;
    padding: 36px 35px;
    margin-top: 45px;
    width: 100%;
    box-sizing: border-box;
    max-width: 660px;
    display: flex;
    flex-wrap: wrap;
    
    @include screen('tablet-wide') {
      max-width: none;
    }
    
    @include screen('tablet-small') {
      padding: 20px;
    }
    
    &.dragover {
      opacity: .8;
    }
    
    &-label {
      display: inline-block;
      position: relative;
      border: 2px solid rgba($color-blue, .4);
      color: $color-blue;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: .04em;
      padding: 15px 57px;
      margin-right: 50px;
      cursor: pointer;
      transition: opacity $ease-main;
      
      @include screen('desktop') {
        padding: 15px 30px;
      }
      
      @include screen('tablet-wide') {
        font-size: 24px;
        padding: 20px 50px;
      }
      
      @include screen('tablet-small') {
        font-size: 14px;
        padding: 15px 30px;
        margin-right: 30px;
      }
      
      &:hover {
        opacity: .85;
      }
      
      input {
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
    
    &-icon {
      width: 15px;
      height: 17px;
      fill: $color-blue;
      margin: -6px auto 0;
    }
    
    &-previews {
      width: 100%;
      font-size: 0;
      margin: 10px -10px -10px;
      
      @include screen('tablet-wide') {
        margin: 16px -16px -16px;
      }
      
      @include screen('tablet-small') {
        margin: 8px -8px -8px;
      }
    }
    
    &-preview {
      display: inline-block;
      width: 153px;
      height: 85px;
      position: relative;
      overflow: hidden;
      margin: 10px;
      
      @include screen('tablet-wide') {
        width: calc(50% - 32px);
        height: auto;
        margin: 16px;
        padding-top: 27.5%;
      }
      
      @include screen('tablet-small') {
        width: calc(50% - 16px);
        margin: 8px;
      }
      
      &.is-hidden {
        display: none;
      }
      
      img {
        @include fill-img;
      }
    }
    
    &-preview-close {
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px;
      background-color: rgba(#000, .9);
      z-index: 2;
      
      @include screen('tablet-wide') {
        width: 40px;
        height: 40px;
      }
      
      @include screen('tablet-small') {
        width: 30px;
        height: 30px;
      }
      
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        @include center-margin(15px, 2px);
        background-color: #fff;
        
        @include screen('tablet-wide') {
          width: 20px;
        }
        
        @include screen('tablet-small') {
          width: 15px;
        }
      }
      
      &:before {
        transform: rotate(45deg);
      }
      
      &:after {
        transform: rotate(-45deg);
      }
    }
    
    &-error {
      opacity: 0.5;
      color: #ff0000;
      font-family: $font-second;
      font-style: italic;
      font-size: 14px;
      line-height: (22/14);
      letter-spacing: .02em;
      margin-left: 10px;
      margin-top: 15px;

      @include screen('tablet-wide') {
        margin-top: 20px;
        font-size: 18px;
      }

      @include screen('tablet-small') {
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
  
  &__hint {
    opacity: 0.5;
    color: #202020;
    font-family: $font-second;
    font-style: italic;
    font-size: 14px;
    line-height: (22/14);
    letter-spacing: .02em;
    text-align: center;
    margin-top: 15px;
    
    @include screen('tablet-wide') {
      margin-top: 20px;
      font-size: 18px;
    }
    
    @include screen('tablet-small') {
      margin-top: 10px;
      font-size: 14px;
    }
  }
  
  &__subheading {
    @include card-heading;
    
    @include screen('tablet-wide') {
      display: block;
      font-size: 32px;
    }
    
    @include screen('tablet-small') {
      font-size: 20px;
    }
  }
  
  &__ratings {
    display: flex;
    flex-wrap: wrap;
    margin-top: 17px;
  }
  
  &__ratings-col {
    margin-right: 67px;
    
    @include screen('desktop') {
      width: 100%;
      margin-right: 0;
    }
  }
  
  &__ratings-item {
    display: flex;
    align-items: center;
    color: #202020;
    font-family: $font-second;
    font-size: 15px;
    letter-spacing: .02em;
    padding: 10px 0;
    
    @include screen('desktop') {
      justify-content: space-between;
    }
    
    @include screen('tablet-wide') {
      font-size: 26px;
    }
    
    @include screen('tablet-small') {
      font-size: 15px;
    }
  }
  
  &__rating {
    margin-left: 10px;
    
    .rating__icon {
      width: 15px;
      height: 15px;
      
      @include screen('tablet-wide') {
        width: 25px;
        height: 25px;
      }
      
      @include screen('tablet-small') {
        width: 15px;
        height: 15px;
      }
    }
    
    .rating__box {
      margin-right: 4px;
    }
  }
  
  &__button {
    @include card-button;
    width: 100%;
    max-width: 293px;
    
    @include screen('tablet-wide') {
      font-size: 30px;
      padding: 20px 40px;
      margin: 0 auto;
      max-width: 400px;
    }
    
    @include screen('tablet-small') {
      font-size: 18px;
      padding: 16px;
      max-width: none;
    }
  }
  
  &__success {
    display: none;
    padding: 39px 33px 49px;
    
    @include screen('tablet-wide') {
      padding: 20px 10px;
    }
    
    @include screen('tablet-small') {
      padding: 20px 0;
    }
    
    &-heading {
      color: #1f1f1f;
      font-size: 25px;
      font-weight: 300;
      letter-spacing: .03em;
      margin-bottom: 27px;
      
      @include screen('tablet-wide') {
        font-size: 35px;
      }
      
      @include screen('tablet-small') {
        font-size: 24px;
      }
    }
    
    &-text {
      color: #202020;
      font-family: $font-second;
      font-size: 15px;
      letter-spacing: .02em;
      padding: 0 4px;
      
      @include screen('tablet-wide') {
        font-size: 25px;
      }
      
      @include screen('tablet-small') {
        font-size: 18px;
        padding: 0;
      }
    }
  }
  
  &.success {
    .card-reviewform {
      &__count {
        display: inline-block;
      }
      &__form {
        display: none;
      }
      &__success {
        display: block;
      }
    }
  }
}

// card-reviews

.card-reviews {
  
  &__heading {
    @include card-heading;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include screen('tablet-wide') {
      display: flex;
      @include card-section-title;
      padding: 0 8px 39px;
      border-bottom: 1px solid rgba(#000, .1);
    }
    
    @include screen('tablet-small') {
      padding: 0 0 16px;
    }
  }
  
  &__heading-count {
    margin-right: auto;
    color: #bcbcbc;
    font-weight: 300;
    margin-left: 3px;
    
    @include screen('tablet-wide', min) {
      display: none;
    }
  }
  
  &__link {
    @include card-link;
    font-size: 21px;
    font-weight: 300;
    margin-right: 20px;
    border-bottom-style: solid;
    
    @include screen('tablet-wide') {
      color: #7f9de0;
      font-size: 33px;
      font-weight: 400;
      border-bottom-style: dashed;
      margin-right: 17px;
    }
    
    @include screen('tablet-small') {
      font-size: 18px;
      margin-right: 0;
    }
  }
  
  &__content {
    @include card-content;
    padding: 50px 0;
    
    @include screen('tablet-wide') {
      padding: 14px 0;
    }
    
    @include screen('tablet-small') {
      padding: 0;
    }
  }
  
  &__review {
    padding: 0 25px;
    width: 100%;
    max-width: 590px;
    box-sizing: border-box;
    
    @include screen('tablet-wide') {
      width: auto;
      max-width: none;
      margin: 0 -30px;
      padding: 36px 83px 56px;
      border-top: 1px solid rgba(#000, .1);
    }
    
    @include screen('tablet-small') {
      margin: 0 -20px;
      padding: 18px 20px 18px;
    }
    
    & + & {
      margin-top: 76px;
      
      @include screen('tablet-wide') {
        margin-top: 0;
      }
    }
    
    &:first-child {
      @include screen('tablet-wide') {
        border-top: 0;
      }
    }
  }
  
  &__more {
    @include card-link;
    border-bottom: 0;
    text-align: right;
    margin-top: 39px;
    margin-right: 35px;
    
    @include screen('tablet-wide') {
      display: none;
    }
    
    a {
      color: inherit;
    }
  }
  
  &__count {
    @include card-count;
    margin-left: 10px;
  }
  
  &_more {
    .card-reviews {
      &__content {
        padding-bottom: 10px;
      }
    }
  }
}

// card-rating

.card-rating {
  
  &__heading {
    @include card-heading;
  }
  
  &__content {
    @include card-content;
    padding: 19px 28px 13px;
  }
  
  .rating-icon {
    width: 21px;
    height: 21px;
  }
  
  .rating__box {
    margin-right: 4px;
  }
  
  &__ratings {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }
  
  &__rating {
    margin-right: 8px;
  }
  
  &__rate {
    color: #1f1f1f;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .03em;
    margin-right: 13px;
  }
  
  &__reviews {
    color: #7397da;
    font-family: $font-second;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .03em;
  }
  
  &__text {
    margin: 6px 13px 6px 3px;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    color: #000000;
    font-family: $font-second;
    font-size: 16px;
    letter-spacing: .02em;
  }
  
  &__count {
    @include card-count;
    margin: 0 4px;
    
    &_green {
      background-color: #81b141;
    }
  }
  
  &__lines {
    margin-top: 9px;
    padding-left: 9px;
    width: 100%;
    box-sizing: border-box;
    max-width: 423px;
  }
  
  &__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
    &:last-child {
      margin-bottom: 0;
    }
    
    &-title {
      color: #9f9d9d;
      font-family: $font-second;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: .04em;
      width: 116px;
      padding-right: 5px;
      box-sizing: border-box;
    }
    
    &-bar {
      width: calc(100% - 116px);
      height: 20px;
      border-radius: 3px;
      background-color: #f5f5f5;
      overflow: hidden;
      position: relative;
    }
    
    &-fill {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      border-radius: 3px;
      background-color: $color-yellow;
    }
  }
}

// card-contacts

.card-contacts {
  
  &__heading {
    @include card-heading;
  }
  
  &__content {
    @include card-content;
    
    @include screen('tablet-wide') {
      display: flex;
      flex-direction: column;
    }
  }
  
  &__days {
    color: #7f7e7e;
    font-family: $font-second;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .03em;
    
    @include screen('tablet-wide') {
      display: none;
    }
    
    &_red {
      color: #fa0101;
    }
  }
  
  &__price {
    color: #020202;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -.03em;
    margin-top: 8px;
    
    @include screen('tablet-wide') {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #161616;
      font-size: 37px;
      font-weight: 300;
      margin-top: 23px;
      padding: 0 34px 13px 14px;
      letter-spacing: -0.025em;
    }
    
    @include screen('tablet-small') {
      margin-top: 11px;
      padding: 0;
      font-size: 20px;
    }
    
    & + .card-contacts__days {
      margin-top: 8px;
    }
    
    &_hide-md {
      @include screen('tablet-wide') {
        display: none;
      }
    }
  }
  
  &__price-img {
    margin-top: 3px;
    max-width: 150px;
    
    @include screen('tablet-wide', min) {
      display: none;
    }
    
    @include screen('tablet-small') {
      max-width: 75px;
    }
    
    &_mult {
      margin-top: -7px;
      max-width: 100px;
      margin-right: 8px;
      
      @include screen('tablet-small') {
        margin-top: -3px;
        max-width: 75px;
        margin-right: 0;
      }
    }
  }
  
  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    margin-right: 7px;
    
    @include screen('tablet-wide') {
      display: none;
    }
  }
  
  &__text-span {
    color: #202020;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .02em;
    display: inline-block;
    vertical-align: middle;
    
    @include screen('tablet-wide') {
      font-family: $font-second;
      font-size: 33px;
      font-weight: 400;
      vertical-align: top;
      margin-top: 2px;
    }
    
    @include screen('tablet-small') {
      font-size: 20px;
    }
  }
  
  &__tel {
    display: inline-block;
    color: #161616;
    font-size: 21px;
    letter-spacing: -.02em;
    margin-top: 3px;
    
    @include screen('tablet-wide') {
      display: block;
      font-size: 37px;
      font-weight: 300;
      margin-top: 33px;
      padding-left: 12px;
      letter-spacing: -.03em;
      margin-right: 20px;
    }
    
    @include screen('tablet-small') {
      font-size: 20px;
      margin-top: 16px;
      padding-left: 0;
      margin-right: 15px;
    }
    
    & + & {
      margin-top: 10px;
      
      @include screen('tablet-wide') {
        margin-top: 27px;
      }
      
      @include screen('tablet-small') {
        margin-top: 13px;
      }
    }
    
    a {
      color: inherit;
    }
  }
  
  &__button {
    @include card-button;
    padding: 13px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 18px;
    
    @include screen('tablet-wide') {
      align-self: flex-start;
      width: auto;
      max-width: 317px;
      flex: 1;
      color: #4b4734;
      font-size: 33px;
      margin-top: 32px;
      padding: 29px 13px 38px;
    }
    
    @include screen('tablet-small') {
      margin-top: 16px;
      font-size: 20px;
      padding: 16px;
      max-width: 217px;
    }
    
    .hide-md {
      @include screen('tablet-wide') {
        display: none;
      }
    }
    
    .show-md {
      @include screen('tablet-wide', min) {
        display: none;
      }
    }
  }
  
  &__section {
    padding: 16px 22px 11px;
    
    @include screen('tablet-wide') {
      padding: 0;
    }
    
    &_text {
      border-top: 1px solid rgba(#000, .1);
      border-bottom: 1px solid rgba(#000, .1);
      padding: 8px 24px;
      
      @include screen('tablet-wide') {
        order: -1;
        border-top: 0;
        padding: 30px 8px 19px;
      }
      
      @include screen('tablet-small') {
        padding: 20px 0 16px;
      }
      
      .card-contacts__section-title {
        letter-spacing: -.01em;
        margin-right: 155px;
        
        @include screen('tablet-small') {
          margin-right: 15px;
        }
      }
    }
    
    &_bottom {
      @include screen('tablet-wide') {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
  
  &__section-title {
    @include card-section-title;
    
    @include screen('tablet-wide', min) {
      display: none;
    }
    
    &_bordered {
      width: 100%;
      border-bottom: 1px solid rgba(#000, .1);
      padding: 35px 10px 11px;
      
      @include screen('tablet-small') {
        padding: 26px 0 16px;
      }
    }
    
    &_mult {
      @include screen('tablet-wide') {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  
  &__halls {
    @include screen('tablet-wide', min) {
      display: none;
    }
  }
  
  &__hall {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 15px 20px 8px;
    border-bottom: 1px solid rgba(#000, .1);
    
    @include screen('tablet-small') {
      padding: 16px 0;
    }
    
    &-link {
      color: #7193de;
      font-family: $font-second;
      font-size: 30px;
      letter-spacing: .02em;
      margin-top: 3px;
      margin-right: 15px;
      margin-bottom: 8px;
      flex: 1;
      min-width: 50%;
      
      @include screen('tablet-small') {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 5px;
      }
      
      a {
        color: inherit;
        border-bottom: 1px dashed rgba(#7193de, .3);
      }
    }
  }
  
  &_mult {
    
    .card-contacts {
      
      &__section-title {
        
        &_bordered {
          padding: 23px 10px 11px;
          
          @include screen('tablet-small') {
            padding: 20px 0 11px;
          }
        }
      }
      
      &__price {
        @include screen('tablet-wide') {
          display: none;
        }
        
        &_hall {
          @include screen('tablet-wide') {
            display: block;
            margin-top: 0;
            padding: 0;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}

// card-address

.card-address {
  
  &__heading {
    @include card-heading;
  }
  
  &__content {
    @include card-content;
    padding: 14px;
    text-align: center;
    
    @include screen('tablet-wide') {
      padding: 0;
      text-align: left;
      display: flex;
      flex-direction: column;
    }
  }
  
  &__section {
    
    &_top {
      @include screen('tablet-wide') {
        padding: 32px 10px 30px;
        display: flex;
        border-bottom: 1px solid rgba(#000, .1);
      }
      
      @include screen('tablet-small') {
        padding: 16px 0;
      }
    }
    
    &_bottom {
      @include screen('tablet-wide') {
        padding: 24px 0 0;
      }
    }
  }
  
  &__section-title {
    @include card-section-title;
    
    @include screen('tablet-wide', min) {
      display: none;
    }
    
    &_bordered {
      padding: 0 8px 19px;
      border-bottom: 1px solid rgba(#000, .1);
      
      @include screen('tablet-small') {
        padding: 0 0 19px;
      } 
    }
  }
  
  &__link {
    color: $color-blue;
    font-family: $font-second;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.02em;
    
    @include screen('tablet-wide') {
      font-size: 33px;
      margin-left: 51px;
      padding-top: 3px;
    }
    
    @include screen('tablet-small') {
      font-size: 20px;
      margin-left: 10px;
      padding-top: 2px;
    }
    
    &_black {
      color: #595959;
    }
    
    &_show {
      @include screen('tablet-wide') {
        display: none;
      }
    }
    
    a {
      color: inherit;
      border-bottom: 1px dashed rgba($color-blue, .3);
      
      @include screen('tablet-wide') {
        border-bottom: 0;
      }
    }
  }
  
  &__map {
    height: 163px;
    background-color: #ccc;
    margin: 17px -15px 4px;
    
    @include screen('tablet-wide') {
      margin: 0 -30px;
      height: 366px;
      order: -1;
    }
    
    @include screen('tablet-small') {
      margin: 0 -20px;
      height: 270px;
    }
    
    @include screen('tablet-wide', min) {
      
      .leaflet-popup-content {
        min-width: 0;
        max-width: 200px;
      }
  
      .map-popup {
        padding-left: 0;
  
        &__img {
          display: none;
        }
  
        &__content {
          padding: 16px 25px 16px 16px;
        }
  
        &__link {
          font-size: 14px;
        }
  
        &__price {
          font-size: 16px;
          margin-top: 6px !important;
        }
  
        &__rating {
          margin-top: 6px;
        }
      }
    }
  }
  
  &__tel {
    @include screen('tablet-wide') {
      order: -3;
      margin-top: -21px;
      padding-bottom: 25px;
      border-bottom: 1px solid rgba(#000, .1);
    }
  }
  
  &__time {
    @include screen('tablet-wide') {
      order: -2;
      margin-bottom: -1px;
    }
  }
  
  &__place {
    text-align: left;
    color: #000000;
    font-family: $font-second;
    font-size: 16px;
    letter-spacing: .02em;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    padding: 0 28px;
    
    @include screen('tablet-wide') {
      color: #202020;
      font-size: 29px;
      margin-top: 35px;
      padding: 0 38px 0 66px;
    }
    
    @include screen('tablet-small') {
      font-size: 18px;
      margin-top: 17px;
      padding: 0 0 0 30px;
    }
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 12px;
      top: 7px;
      width: 5px;
      height: 5px;
      border-radius: 1000px;
      background-color: #49bb7b;
      
      @include screen('tablet-wide') {
        display: none;
      }
    }
    
    & + & {
      margin-top: 0;
      
      @include screen('tablet-wide') {
        margin-top: 17px;
      }
    }
    
    &-text {
      margin-right: 7px;
      margin-bottom: 2px;
    }
    
    &-icon {
      width: 25px;
      height: 14px;
      position: absolute;
      left: 16px;
      top: 6px;
      
      @include screen('tablet-wide', min) {
        display: none;
      }
      
      @include screen('tablet-small') {
        width: 20px;
        height: 13px;
        left: 0;
        top: 3px;
      }
    }
  }
  
  &__distance {
    color: #747373;
    font-style: italic;
    font-size: 14px;
    
    @include screen('tablet-wide') {
      opacity: 0.5;
      color: #212121;
      font-size: 25px;
      margin-bottom: 7px;
    }
    
    @include screen('tablet-small') {
      font-size: 16px;
      margin-bottom: 3px;
    }
  }
  
  &_mult {
    
    .card-address {
      
      &__section {
        
        &_bottom {
          @include screen('tablet-wide') {
            padding: 23px 0 34px;
            border-bottom: 1px solid rgba(#000, .1);
          }
        }
      }
    }
  }
}

// card-desc

.card-desc {
  
  &__heading {
    @include card-heading;
    display: flex;
    align-items: flex-start;
    padding-right: 42px;
  }
  
  &__mobheading {
    color: #242424;
    font-size: 42px;
    font-weight: 300;
    letter-spacing: .02em;
    text-align: center;
    margin-bottom: 38px;
    
    @include screen('tablet-wide', min) {
      display: none;
    }
    
    @include screen('tablet-small') {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
  
  &__content {
    @include card-content;
    padding: 30px 24px 24px;
    position: relative;
    
    @include screen('tablet-wide') {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }
  
  &__link {
    @include card-link-2;
    position: relative;
    margin-left: auto;
    
    &-icon {
      width: 20px;
      height: 20px;
      position: absolute;
      right: calc(100% + 13px);
      top: 0;
    }
  }
  
  &__text {
    color: #202020;
    font-family: $font-second;
    font-size: 16px;
    letter-spacing: .02em;
    line-height: 1.6;
    width: 100%;
    max-width: 659px;
    box-sizing: border-box;
    
    @include screen('tablet-wide') {
      max-width: none;
      color: #252525;
      font-size: 30px;
      line-height: (42/30);
      margin-top: 40px;
      padding: 0 16px;
    }
    
    @include screen('tablet-small') {
      font-size: 18px;
      margin-top: 16px;
      padding: 0;
    }
  }
   
  &__services {
    margin-top: 17px;
    padding-right: 230px;
    
    @include screen('desktop-wide') {
      padding-right: 0;
    }
    
    @include screen('tablet-wide') {
      order: 0;
      margin-top: 41px;
    }
    
    @include screen('tablet-small') {
      margin-top: 30px;
    }
  }
  
  &__service {
    color: #202020;
    font-family: $font-second;
    font-style: italic;
    font-size: 16px;
    letter-spacing: .02em;
    margin-top: 12px;
    
    @include screen('tablet-wide') {
      font-size: 33px;
      font-style: normal;
      padding: 0 14px;
      line-height: 1;
      margin-top: 39px;
    }
    
    @include screen('tablet-small') {
      padding: 0;
      font-size: 20px;
    }
    
    &:first-child {
      margin-top: 0;
    }
    
    strong {
      font-style: normal;
      margin-right: 3px;
      
      @include screen('tablet-wide') {
        font-family: $font-main;
        font-weight: 500;
        display: block;
        border-bottom: 1px solid rgba(#000, .1);
        margin: 0 -14px 32px;
        padding: 0 12px 12px;
      }
      
      @include screen('tablet-small') {
        padding: 0 0 12px;
        margin: 0 0 16px;
      }
    }
    
    &_count {
      @include screen('tablet-wide', min) {
        margin-top: 10px;
      }
    }
    
    &_halls {
      font-weight: 700;
      font-style: normal;
    }
  }
  
  &__count {
    margin-left: 25px;
    display: inline-block;
    font-size: 0;
    
    @include screen('desktop') {
      margin-left: 0;
      margin-top: 12px;
      display: block;
    }
    
    @include screen('tablet-wide') {
      display: none;
    }
  }
  
  &__count-group {
    display: inline-block;
    margin-right: 8px;
  }
  
  &__count-icon {
    width: 7px;
    height: 17px;
    margin-right: 1px;
    fill: #a4a4a4;
    
    &_active {
      fill: $color-blue;
    }
  }
  
  &__side {
    position: absolute;
    right: 38px;
    bottom: 27px;
    text-align: right;
    max-width: 200px;
    
    @include screen('desktop-wide') {
      position: static;
      max-width: 100%;
      margin-top: 24px;
    }
    
    @include screen('tablet-wide') {
      display: none;
    }
  }
  
  &__video {
    width: 133px;
    height: 88px;
    position: relative;
    overflow: hidden;
    margin-left: auto;
  }
  
  &__video-bg {
    @include fill-img;
  }
  
  &__playbutton {
    @include center-margin(48px, 48px);
    border-radius: 1000px;
    background-color: #1393f4;
    
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 20px solid #fff;
      margin-right: -10px;
      margin: auto;
      left: 5px;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
  
  &__sitelink {
    display: inline-block;
    text-align: left;
    margin-top: 9px;
    font-family: $font-second;
    font-size: 16px;
    color: #191919;
    
    a {
      color: #7ca6e6;
      letter-spacing: -.02em;
      margin-left: 7px;
    }
  }
  
  &__halls {
    margin-top: 18px;
    box-sizing: border-box;
    padding-right: 230px;
    padding-bottom: 35px;
    
    @include screen('desktop-wide') {
      padding-right: 0;
    }
    
    &-link {
      font-family: $font-second;
      font-size: 16px;
      font-weight: 300;
      color: #699ae3;
      letter-spacing: .02em;
      margin-top: 10px;
      
      a {
        color: inherit;
        border-bottom: 1px dashed rgba($color-blue, .3);
      }
    }
    
    &-price {
      color: #202020;
      margin-left: 10px;
    }
  }
  
  &__col {
    box-sizing: border-box;
    
    &_left {
      width: calc(100% - 543px);
      padding-right: 30px;
      padding-top: 28px;
      
      @include screen('desktop') {
        width: 50%;
        padding-right: 20px;
      }
      
      @include screen('tablet-wide') {
        width: 100%;
        padding-right: 0;
        padding-top: 0;
      }
    }
    
    &_right {
      width: 543px;
      
      @include screen('desktop') {
        width: 50%;
      }
      
      @include screen('tablet-wide') {
        display: none;
      }
    }
  }
  
  &__subheading {
    color: #010101;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: .04em;
    
    @include screen('tablet-wide') {
      color: #4d4a39;
      font-size: 50px;
      font-weight: 400;
      letter-spacing: .02em;
      margin-top: 34px;
      padding: 0 10px;
      letter-spacing: .04em;
    }
    
    @include screen('tablet-small') {
      font-size: 30px;
      margin-top: 17px;
      padding: 0;
    }
  }
  
  &__days {
    display: flex;
    margin-top: 26px;
    margin-bottom: 25px;
    
    @include screen('tablet-wide') {
      margin-top: 41px;
      margin-bottom: 44px;
    }
    
    @include screen('tablet-small') {
      margin: 20px 0;
    }
  }
  
  &__days-col {
    margin-right: 64px;
    
    @include screen('desktop') {
      margin-right: 20px;
    }
    
    @include screen('tablet-wide') {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-right: 0;
      width: 100%;
      padding: 0 8px 4px;
      border-bottom: 1px solid rgba(#000, .1);
    }
    
    @include screen('tablet-small') {
      padding: 0 0 8px;
    }
    
    &.hide-md {
      @include screen('tablet-wide') {
        display: none;
      }
    }
  }
  
  &__days-title {
    color: #7f7e7e;
    font-family: $font-second;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .02em;
    
    @include screen('tablet-wide') {
      display: none;
    }
    
    &_red {
      color: #fa0101;
    }
  }
  
  &__days-mobtitle {
    @include card-section-title;
    margin-right: 20px;
    
    @include screen('tablet-wide', min) {
      display: none;
    }
  }
  
  &__days-price {
    color: #161616;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: -.03em;
    margin-top: 8px;
    
    @include screen('tablet-wide') {
      font-size: 37px;
      margin-top: -3px;
      margin-right: -6px;
      letter-spacing: -.025em;
    }
    
    @include screen('tablet-small') {
      margin-top: 0;
      margin-right: 0;
      font-size: 20px;
    }
  }
  
  &__images-wrapper {
    @include screen('tablet-wide') {
      overflow: hidden;
      margin: 38px -30px 0;
    }
    
    @include screen('tablet-small') {
      margin: 20px -20px 0;
    }
  }
  
  &__images {
    display: flex;
    margin-bottom: 54px;
    
    @include screen('tablet-wide') {
      overflow-x: auto;
      overflow-y: hidden;
      margin-bottom: -20px;
      padding-bottom: 20px;
    }
  }
  
  &__image {
    width: 25%;
    box-sizing: border-box;
    
    @include screen('tablet-wide') {
      width: 85%;
      padding: 0 14px;
      flex-shrink: 0;
    }
    
    @include screen('tablet-small') {
      padding: 0 7px;
    }
    
    &:first-child {
      @include screen('tablet-wide') {
        padding-left: 37px;
        width: calc(85% + 23px);
      }
      
      @include screen('tablet-small') {
        padding-left: 20px;
        width: calc(85% + 13px);
      }
    }
    
    &:last-child {
      @include screen('tablet-wide') {
        padding-right: 37px;
        width: calc(85% + 23px);
      }
      
      @include screen('tablet-small') {
        padding-right: 20px;
        width: calc(85% + 13px);
      }
    }
  }
  
  &__imgblock {
    display: block;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding-top: 68%;
    overflow: hidden;
    
    @include screen('tablet-wide') {
      padding-top: 66%;
    }
    
    img {
      @include fill-img;
    }
  }
  
  &__sales {
    @include screen('tablet-wide', min) {
      display: none;
    }
    
    @include screen('tablet-wide') {
      order: 1;
      margin-top: 43px;
    }
  }
  
  &__desc {
    @include screen('tablet-wide') {
      order: 2;
      margin-top: 60px;
    }
    
    @include screen('tablet-small') {
      margin-top: 30px;
    }
  }
  
  &__section-title {
    @include card-section-title;
    padding: 0 9px 22px;
    letter-spacing: .025em;
    border-bottom: 1px solid rgba(#000, .1);
    
    @include screen('tablet-wide', min) {
      display: none;
    }
    
    @include screen('tablet-small') {
      padding: 0 0 16px;
    }
  }
  
  &__text-title {
    @include card-section-title;
    padding: 0 9px 22px;
    letter-spacing: .025em;
    border-bottom: 1px solid rgba(#000, .1);
    margin-top: 56px;
    
    @include screen('tablet-wide', min) {
      display: none;
    }
    
    @include screen('tablet-small') {
      padding: 0 0 16px;
    }
  }
  
  
  
  &_halls {
    
    .card-desc {
      
      &__content {
        padding: 7px 0 28px 24px;
        display: flex;
        
        @include screen('tablet-wide') {
          margin: 0 -30px;
          padding: 0 30px 75px;
        }
        
        @include screen('tablet-small') {
          margin: 0 -20px;
          padding: 0 20px 30px;
        }
      }
      
      &__services {
        padding-right: 0;
        padding-left: 4px;
        
        @include screen('tablet-wide') {
          padding-left: 0;
        }
      }
    }
    
    &:nth-child(odd) {
      
      .card-desc {
        
        &__content {
          @include screen('tablet-wide') {
            background-color: #edf1f2;
          }
        }
      }
    }
  }
}

// card-sales

.card-sales {
  
  &__heading {
    @include card-heading;
  }
  
  &__content {
    @include card-content;
    padding: 23px 25px 34px;
    
    @include screen('tablet-wide') {
      padding: 0;
    }
  }
  
  &__section-title {
    @include card-section-title;
    padding: 0 9px 23px;
    letter-spacing: .025em;
    border-bottom: 1px solid rgba(#000, .1);
    
    @include screen('tablet-wide', min) {
      display: none;
    }
    
    @include screen('tablet-small') {
      padding: 0 0 16px;
    }
  }
  
  &__sale {
    font-family: $font-second;
    font-size: 15px;
    letter-spacing: .05em;
    position: relative;
    padding-left: 28px;
    margin-top: 15px;
    
    @include screen('tablet-wide') {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 25px 58px 19px 39px;
      border-bottom: 1px solid rgba(#000, .1);
      margin-top: 0;
    }
    
    @include screen('tablet-small') {
      padding: 10px 0 10px 16px;
    }
    
    &:before {
      content: '';
      display: block;
      width: 11px;
      height: 11px;
      border-radius: 1000px;
      background-image: linear-gradient(to top, #903eac 0%, #c03a2b 100%);
      position: absolute;
      left: 0;
      top: 8px;
      
      @include screen('tablet-wide') {
        left: 16px;
        top: 36px;
      }
      
      @include screen('tablet-small') {
        left: 0;
        top: 16px;
        width: 8px;
        height: 8px;
      }
    }
    
    &:first-child {
      margin-top: 0;
    }
    
    &:last-child {
      @include screen('tablet-wide') {
        border-bottom: 0;
      }
    }
  }
  
  &__sale-link {
    color: #699ae3;   
    display: inline-block;
    vertical-align: middle;
    width: 306px;
    padding-right: 10px;
    box-sizing: border-box;
    
    @include screen('tablet-wide') {
      color: #7193de;
      font-size: 33px;
      width: auto;
      padding-right: 20px;
    }
    
    @include screen('tablet-small') {
      font-size: 18px;
    }
    
    a {
      color: inherit;
      border-bottom: 1px solid #699ae3;
      
      @include screen('tablet-wide') {
        border-bottom: 0;
      }
    }
  }
  
  &__sale-date {
    display: inline-block;
    vertical-align: middle;
    opacity: 0.5;
    color: #202020;
    margin-top: 4px;
    
    @include screen('tablet-wide') {
      opacity: 0.4;
      color: #000000;
      font-style: italic;
      font-size: 25px;
      flex-shrink: 0;
      margin-top: 0;
    }
    
    @include screen('tablet-small') {
      font-size: 18px;
    }
  }
}

// card-questions

.card-questions {
  
  &__heading {
    @include card-heading;
  }
  
  &__content {
    @include card-content;
  }
  
  &__accordion {
    position: relative;
    padding: 49px 23px 17px;
    border-top: 1px solid rgba(#000, .1);
    
    &:first-child {
      border-top: 0;
    }
    
    &.is-active {
      .card-questions__arrow {
        transform: rotate(180deg);
      }
    }
  }
  
  &__title {
    color: #353535;
    font-family: $font-second;
    font-size: 16px;
    letter-spacing: -.02em;
    position: relative;
    padding-left: 36px;
    padding-right: 27px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: opacity $ease-main;
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 4px;
      width: 9px;
      height: 9px;
      border-radius: 1000px;
      background-color: #ff5845;
    }
    
    &:hover {
      opacity: .85;
    }
  }
  
  &__arrow {
    position: absolute;
    right: 32px;
    top: 34px;
    width: 10px;
    height: 8px;
    transition: transform $ease-main, opacity $ease-main;
    cursor: pointer;
    
    &:hover {
      opacity: .85;
    }
  }
  
  &__text {
    display: none;
    color: #3c3c3c;
    font-family: $font-second;
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: .045em;
    box-sizing: border-box;
    padding: 0 28px;
    width: 100%;
    max-width: 650px;
  }
}