extends ../../layouts/default

block head
  - var pageTitle = 'Versta Project Template'

block content
  +b.sauna
    +header()._wide
      +header-line-menu('Карта сайта', 'Добавить заведение', 'linebg1.jpg')
    +e.head
      .container.container_wide
        +breadcrumbs(['Москва', 'ЮЗАО', 'район Северное Бутово', 'Варшавское шоссе', 'Баня и сауна GreenRoof'])
        +e.P.category САУНА
        +e.H1.heading GreenRoof
        +e.top
          +rating(3).__rating
          +e.P.top-text 15 отзывов
          +e.P.top-text
            +icon('check').check-icon
            | Заведение проверено
          +e.social
    +e.content
      +multislider(false, true).__slider
        +slide()
          img(src='assets/images/place1.jpg')
        +slide()
          img(src='assets/images/place2.jpg')
        +slide()
          img(src='assets/images/place3.jpg')
        +slide()
          img(src='assets/images/place4.jpg')
        +slide()
          img(src='assets/images/place1.jpg')
        +slide()
          img(src='assets/images/place2.jpg')
        +slide()
          img(src='assets/images/place3.jpg')
        +slide()
          img(src='assets/images/place4.jpg')
      .container.container_wide
        +e.cols
          +e.col._left
            +card-desc().__card
            +card-sales().__card
            +e.banner
            +card-questions().__card
          +e.col._right
            +e.innercols
              +e.innercol._left
                +card-contacts().__card._inner
              +e.innercol._right
                +card-address().__card._inner
            +card-rating().__card
            +card-reviews(true, true)._more.__card._reviews
    +more()
    +lastview().__lastview
    +footer()
