extends ../../layouts/default

block head
  - var pageTitle = 'Sauna'

block content
  +b.sauna
    +header()._wide
    +topline-menu('Карта сайта', 'sitemap.html', 'Добавить заведение', 'linebg1.jpg').__topline
    +e.head
      .container.container_wide
        +breadcrumbs(['Москва', 'ЮЗАО', 'район Северное Бутово', 'Варшавское шоссе', 'Баня и сауна GreenRoof']).__breadcrumbs
        +e.P.category САУНА
        +e.H1.heading GreenRoof
        +e.top
          +rating(3).__rating
          +e.P.top-text 15 отзывов
          +e.P.top-text._checked
            +icon('check').check-icon
            | Заведение проверено
          +e.P.checked проверено
          +e.social
    +e.content
      +put-block-into-slot('multislider', 'xl')
        +multislider(false, true).__slider
          +slide()
            +sauna-slide('saunaslide11', 'place1.jpg')
          +slide()
            +sauna-slide('saunaslide12', 'place2.jpg')
          +slide()
            +sauna-slide('saunaslide13', 'place3.jpg')
          +slide()
            +sauna-slide('saunaslide14', 'place4.jpg')
          +slide()
            +sauna-slide('saunaslide15', 'place5.jpg')
      .container.container_wide
        +put-block-into-slot('contactcards', 'md')
        +put-block-into-slot('multislider', 'md')
        +e.cols
          +e.col._left
            +card-desc('salecard', 'md').__card
            +card-sales('salecard', 'xl').__card._sales
            +e.banner
            +card-questions().__card._questions
          +e.col._right
            +put-block-into-slot('contactcards', 'xl')
              +e.innercols
                +e.innercol._left
                  +card-contacts().__card._inner
                +e.innercol._right
                  +card-address().__card._inner
            +card-rating().__card._rating
            +card-reviewform().__card._reviewform
            +card-reviews(true)._more.__card._reviews
    +more().__more
    +lastview().__lastview
    +footer()
    +popups()

mixin sauna-slide(id, img, type)
  a(href='#'+id data-fancybox='gallery').sauna__imgblock
    img(src='assets/images/'+img)
    if type
      p.sauna__imgtype= type
  .sauna__imgpopup(id=id)
    .sauna__imgblock
      img(src='assets/images/'+img)
      if type
        p.sauna__imgtype= type
