.rating {
  $b: &;
  font-size: 0;
  display: inline-flex;
  flex-flow: row-reverse;

  &__box {
    margin-right: 2px;
    #{$b}_interactive & { cursor: pointer; }
  }

  &__control { display: none; }

  &__icon {
    stroke: #dbdbdb;
    fill: #dbdbdb;
    transition: fill $ease-main, stroke $ease-main;
    width: 22px;
    height: 19px;

    #{$b}_interactive #{$b}__box:hover &,
    #{$b}_interactive #{$b}__box:hover ~ #{$b}__box &,
    #{$b}__box.is-active &,
    #{$b}__box.is-active ~ #{$b}__box & {
      fill: #fed059;
      stroke: #fed059;
    }
  }
}
