@import '../../node_modules/swiper/dist/css/swiper.css';

.slider {
  position: relative;

  &__slide {
    text-align: center;
  }

  &__dots {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    text-align: center;
    z-index: 2;
    pointer-events: none;
  }

  &__dot {
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid $color-border;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    transition: border-color $ease-main, background-color $ease-main;
    pointer-events: all;
    cursor: pointer;

    &.active {
      background-color: $color-main;
      border-color: $color-main;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    transition: opacity $ease-main;
    z-index: 2;
    cursor: pointer;
    background-color: rgba(#000, .2);
    box-shadow: 0 2px 3px rgba(2, 2, 2, 0.3);
    border-radius: 1000px;
    
    img {
      width: 14px;
      height: 27px;
      @include center-image;
      top: 1px;
    }

    &:hover { opacity: .7; }

    &_next {
      right: 10px;
      
      img {
        transform: rotate(180deg);
      }
    }

    &_prev {
      left: 10px;
    }
  }
}
