mixin blogcard(category)
  +b.blogcard(itemscope itemtype='http://schema.org/Blog')&attributes(attributes)
    +e.A(href='#').img
      img(src='assets/images/blog1.jpg' itemprop='image')
    +e.P.date(itemprop='dateCreated') 15 марта 2016
    +e.P.title
      a(href='#' itemprop='name') Сезонное выпадение волос: лечение
    +e.P.text(itemprop='description') Температура парилки от 30 до 50 градусов
      br
      | настоящий подарок тем, кто не может
      br
      | позволить себе горячие пропарки. Нежный пар хамама, который подается через
      br
      | отверстия в стенах, мягко
    +e.A(href='#' itemprop='genre').category= category