extends ../../layouts/default

block head
  - var pageTitle = 'Feedback'

block content
  +b.feedback
    +header()
      +header-line('linebg2.jpg')
    +put-block-into-slot('headblock', 'xl')
      +headblock('Сауны и бани с отзывами', 'Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама, который подается через отверстия в стенах, мягко разогревает тело, не обжигая его, помогает избавиться от напряжения и мигрени, улучшает сон и успокаивает нервы. Температура повышается постепенно, при этом сухой пар чередуется с очень влажным (до 100%).')
    +filter()
    +switcher()
    +mapblock('Показать на карте')
    +put-block-into-slot('headblock', 'md')
    +e.content
      .container
        +e.reviews
          +e.list
            +review().feedback__review
              +review-block('Петр Петров', true, 'Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама, который подается через отверстия в')
              +review-block('Иван Иванов', false, 'Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама, который подается через отверстия в стенах, мягко Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама, который подается через отверстия в стенах, мягкоТемпература парилки от 30 до 50 градусов – настоящий подарок тем, кто не')
              +review-block('Иван Иванов', false, 'Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама, который подается через')
            +review().feedback__review
              +review-block('Петр Петров', true, 'Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама, который подается через отверстия в')
              +review-block('Иван Иванов', false, 'Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама, который подается через отверстия в стенах, мягко Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама, который подается через отверстия в стенах, мягкоТемпература парилки от 30 до 50 градусов – настоящий подарок тем, кто не')
              +review-block('Иван Иванов', false, 'Температура парилки от 30 до 50 градусов – настоящий подарок тем, кто не может позволить себе горячие пропарки. Нежный пар хамама, который подается через')
          +e.banner
          +e.pagination
            +e.A(href='#').pagination-item._active 1
            +e.A(href='#').pagination-item 2
            +e.A(href='#').pagination-item 3
            +e.A(href='#').pagination-item
              +icon('pagination_arrow').pagination-icon
            +e.A(href='#').pagination-item
              +icon('pagination_arrow').pagination-icon
              +icon('pagination_arrow').pagination-icon
    +e.about
      +e.about-bg
        img(src='assets/images/bg3.jpg')
      .container
        +e.P.about-heading Бани и сауны с отзывами посетителей
        +e.P.about-text Бани с отзывами посетителей в Москве - отличная возможность из огромного количества предложений выбрать банное заведение, максимально соответствующее вашим запросам. Однако полагаться только на чужое мнение тоже рискованно. Рассмотрим, на что следует обратить внимание в поисках хорошей бани и зачем стоит туда идти.
          br
          br
          | За многовековую историю существования бань человек досконально изучил их возможности воздействия на свой организм. Опираясь на наблюдения предков и используя технические возможности современной медицины, исследователи нашего времени единогласно пришли к следующим выводам:
          br
          | •	Тепловое воздействие повышает энергетический обмен, способствуя потере лишнего веса.
          br
          | •	В саунах активизируется выделительная, защитная, терморегулирующая, обменная, дыхательная, тактильная и иммунная активности кожи.
          br
          | •	В парной можно значительно снизить тонус в мышцах.
          br
          | •	Регулярные походы в сауну улучшают координацию движений и повышают двигательные реакции.
          br
          | •	Посещение сауны способствует увеличению кровенаполнения сосудов, что повышает функциональные возможности кровообращения.
          br
          | •	Неоспорим лечебный эффект парения при нарушенном обмене веществ, гипертонии и заболеваниях почек.
          br
          | •	Для лечения и профилактики заболеваний дыхательных путей сеансы ароматерапии в сауне эффективнее традиционных ингаляций.
          br
          | •	Саунам удается значительно ускорить любые процессы заживления и восстановления.
          br
          | •	Сочетание парения и массажа помогает добиться хорошего эффекта при лечении заболеваний нервной системы.
          br
          | •	Сауной снимают не только физическую, но и моральную усталость, лечат депрессию, снижают перевозбуждение и тревожность, нормализуют настроение и сон.
          br
          | Чтобы получить максимальную пользу от посещения сауны, необходима регулярность. Оптимально банным процедурам уделять 2-3 часа один раз в неделю. Чтобы дружба с баней была крепкая и продолжительная, нужно внимательно отнестись к ее выбору.
          br
          | Рекомендации
          br
          | Крупные банные заведения сегодня обычно имеют собственный сайт, на котором расположена не только привлекательная информация и фото, но и комментарии реальных посетителей. Другой вариант - банные порталы. Третий - объединения любителей бани в соцсетях и форумы. 
          br
          | Полное отсутствие отзывов в интернете говорит не лучшим образом о любом поставщике услуг.
          br 
          | Кроме онлайн пространства поможет и реальная жизнь. Наверняка из всех ваших знакомых найдутся постоянные посетители саун. Главное - начать говорить о своих намерениях, тогда и обратная связь непременно появится.
          br
          | Месторасположение
          br
          | Если рассматривать Москву или другие крупные города, то как и фитнес-клуб, для постоянных посещений сауну нужно выбирать недалеко от мест, где вы бываете чаще всего. В идеале - заведение рядом с домом. Для автовладельцев подойдут сауны возле работы. Передвигаться на общественном транспорте после процедур - то еще удовольствие, а в холода это небезопасно для здоровья.
          br
          | Интерьер
          br
          | Приятная обстановка и правильная организация пространства в сауне очень важна. Сюда мы приходим расслабляться, поэтому ничто не должно раздражать глаз. Кому-то достаточно простоты и уюта, а кому-то необходим шик и дизайнерские интерьеры. Благо, сегодня банный рынок может удовлетворить любые запросы. Гигиена помещений и воды – одно из основополагающих требований к любым местам общественного пользования, особенно это относится к тем, где неизбежен контакт окружающего пространства и обнаженных участков тела. Здесь могут помочь только отзывы незаинтересованных сторон. Если их нет – лучше не рисковать.
        +e.stats
          +e.stats-item
            +e.P.stat
              +e.SPAN.stat-count 12 млн
              | Население Москвы
          +e.stats-item
            +e.P.stat
              +e.SPAN.stat-count 1 535
              | Саун по Москве
          +e.stats-item
            +e.P.stat
              +e.SPAN.stat-count 944
              | Ежедневных заказов
    +footer()
    +popups()
