mixin desc()
  +b.desc(itemscope itemtype='http://schema.org/AdministrativeArea')&attributes(attributes)
    +e.bg
      img(src='assets/images/bg3.jpg' itemprop='image')
    .container
      +e.block
        +e.H3.heading(itemprop='name') Москва
        +e.P.text(itemprop='description') Столица России, Москва — город федерального значения, второй по масштабам в мире. Она манит к себе своей элитной недвижимостью и уровнем жизни, как яркий огонёк в ночи. Столица России, Москва, — город федерального значения, второй по масштабам. Позиционирование на рынке существенно транслирует эмпирический потребительский рынок. Она манит к себе своей элитной недвижимостью и уровнем жизни, как яркий огонёк в ночи.
          br
          | В общем, изменение глобальной стратегии искажает контент. PR довольно хорошо сбалансирован. Рекламный макет, как следует из вышесказанного, синхронизирует традиционный канал. В общем, изменение глобальной стратегии искажает контент. PR довольно хорошо сбалансирован. Рекламный макет, как следует из вышесказанного, синхронизирует традиционный канал. В общем, изменение глобальной стратегии искажает контент. PR довольно хорошо сбалансирован. Рекламный макет, как следует из вышесказанного
      +e.block._side
        +e.H3.heading(itemprop='name') Москва
        +e.P.text(itemprop='description') Столица России, Москва — город федерального значения, второй по масштабам в мире. Она манит к себе своей элитной недвижимостью и уровнем жизни, как яркий огонёк в ночи. Столица России, Москва, — город федерального значения, второй по масштабам. Позиционирование на рынке существенно транслирует эмпирический потребительский рынок. Она манит к себе своей 
          +e.A(href='#').more Показать&nbsp;еще
      +e.block._list(itemprop='description')
        +e.P.fact
          +e.SPAN.number 572
          | Заведения
        +e.P.fact
          +e.SPAN.number 1 535
          | Саун по Москве
        +e.P.fact
          +e.SPAN.number 944
          | Ежедневных заказов
        +e.P.fact
          +e.SPAN.number 944
          | Ежедневных заказов
